<div class="form-cur-exch simple top15" ng-controller="calculatorController">
    <div id="calculateForm">
        <input type="hidden" name="fixType" value="SOURCE" id="fixType"/>

        <div class="">
            <div class="wrap-selects">
                <div class="source amount-cur-selector">
                    <div class="cur-input-label">You pay</div>
                    <div class="cur-input-wrap">
                        <span><input class="cur-input" maxlength="12" name="sourceValue" ng-model="calculationResults.sourceValue"
                                     ng-click="setState('source')" ng-change="calculate()"
                                     ng-class="{disabled: currentState != 'source'}"></span>
                    </div>
                    <div class="cur">
                        <select name="sourceCurrencyId" class="currencySelect sourceCurrency" ng-model="sourceCurrency"
                                ng-options="c.id as c.name for c in sourceCurrencies"
                                ng-change="updateTarget()"></select>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="wrap-selects">
                <div class="target amount-cur-selector">
                    <div class="cur-input-label">You get</div>
                    <div class="cur-input-wrap">
                        <input class="cur-input" maxlength="12" name="targetValue" ng-model="calculationResults.targetValue"
                               ng-click="setState('target')" ng-change="calculate()"
                               ng-class="{disabled: currentState != 'target'}">
                    </div>
                    <div class="cur last">
                        <select name="targetCurrencyId" class="currencySelect targetCurrency" ng-model="targetCurrency"
                                ng-options="c.id as c.name for c in targetCurrencies"
                                ng-change="updateSource()"></select>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="fix-type-selector note right mtop5 hide">
                <input type="checkbox" value="1" name="isFixTypeTarget">Receive fixed amount<a
                    href="/support/receive-fixed-amount" target="blank"><img class="help-mark"
                                                                             src="/static/images/grey_question_small.png"
                                                                             alt="?"/></a>
            </div>
            <div class="clear width100"></div>
            <div class="calculation-details">
                <div class="results">
                    <table>
                        <tbody>
                        <tr>
                            <td class="col-1 head-color"></td>
                            <td class="col-2 head-color ">High Street Bank</td>
                            <td class="col-3 head-color">TransferWise</td>
                        </tr>

                        <tr>
                            <td class="col-1 col-1-on-top">Real fee</td>
                            <td class="col-2">
                                <div class="number calc_number">
                                    £ {{calculationResults.bankFee}}
                                </div>
                            </td>
                            <td class="col-3">
                                <div class="big-number calc_number b">
                                    £ {{calculationResults.fee}}
                                </div>
                            </td>
                        </tr>

                        <tr class="last-row block-mobile block-tablet">
                            <td class="col-1 col-1-on-top">Total saving</td>
                            <td class="col-2">
                                <div class="big-number calc_number">
                                    € 0.00
                                </div>
                            </td>
                            <td class="col-3">
                                <div class="tw-total-saving bigest-number calc_number b">
                                    € 53.29
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="white-line"></div>
                </div>
            </div>
            <div class="clear make">
                <input class="button green dashboard-calculator event_calc_make_a_transfer" type="submit"
                       value="make a payment"/>
            </div>
        </div>
    </div>
</div>
