<div class="header">
    <div class="container">
        <div class="logo event_logo">
            <a href="/"></a>
        </div>
        <div class="nav-menu-button">
            <a href="#"></a>
        </div>
        <div class="nav-indent"></div>
        <ul class="menu-dashboard b">
            <li>
                <a href="/account" class="active">Account</a>
            </li>
            <li class="hide-in-resp-recipients">
                <a href="/recipients" class="">
                    <span class="recipients"></span>
                    Recipients
                </a>
            </li>
            <li class="hide-in-resp-invites">
                <a href="/invite#" class="">
                    <div class="right">
                        <span class="invites"></span>
                        <span class="invitesTextBlock">Invite&nbsp;friends</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="menu-dashboard b right">
            <li class="no-sep">
                <a href="/account">
                    Hi, Vitaliy
                </a>
            </li>
            <li>
                <a href="/settings/personal" class="">
                    <span class="settings"></span>
                    Settings
                </a>
            </li>
            <li>
                <a href="/logout" class="logout-resp">
                    <span class="security" title="Logout">
                        <span class="logout">Logout</span>
                    </span>
                </a>
            </li>
            <li class="empty responsive-clear"></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="styled-body">
<div class="container">
<div class="dashboard dashboard-common top20">
<div class="recipients right bg-none">
    <div ng-include="'js/app/views/_calculator.html'"></div>
    <ul class="recent-recipients">
        <li>
            Recent recipients
            <div class="right">
                <a href="/recipient/create" class="link">Add new</a>
            </div>
        </li>
        <li>
            <p class="recipient">
                <img class="flag" src="/static/images/tw_emailxfer_icon.png"/>
                kyzenkov@ukr.net
            </p>
            <a href="/request/placeOrder?recipient=100016" class="link">Make a payment</a>
        </li>
        <a href="/recipients" class="link">See all</a>
    </ul>
    <div class="mbot30 top20 block-desktop">
        <ul>
            <li>
                Request money
                <div class="right">
                    <a href="/getpaid" class="link">Learn more</a>
                </div>
            </li>
            <li class="no-request-desc with-button">
                Receive Money with Transferwise lets you avoid hidden bank fees or PayPal charges when receiving
                payments from abroad.
            </li>
        </ul>
        <div class="right font80">
            <a href="/paymentTemplate/create" class="button white learn-more-about-getpaid">get started</a>
        </div>
        <div class="clear mbot20"></div>
    </div>
    <div class="block-desktop">
        <ul>
            <li>
                Earn £50 by inviting friends
            </li>
            <li class="no-request-desc with-button">
                Treat your friends with a free transfer. For every three friends who use their transfer we give you <b>£50</b>
                as thanks for your help.
            </li>
        </ul>
        <div class="right font80">
            <a href="/invite" class="button white">Invite friends</a>
        </div>
    </div>
</div>
<div class="top20">
    <div class="panel left invite-widget">
        <div class="text-container">
            <div class="heading">Earn £50 by referring 3 friends</div>
            <div class="sub-head">Share this invite link with your friends:</div>
        </div>
        <div class="link-to-share">
            <div class='selectableBlock'>http://transferwise.com/u/6ca51</div>
        </div>
        <a href="/invite" class="button white invite-more">Invite more</a>
        <div class="clear"></div>
    </div>
    <div class="panel left">
        <div class="title">
            <h3>My payments</h3>
            <ul class="right info">
                <li>
                    Savings:
                    <span>
                        £0
                    </span>
                </li>
                <li class="free-payments">
                    Free payments
                    <span title="This is the number of free payments you have" data-interactive='false'
                          data-theme='.tw-default' class='tooltipster'>
                        <span class="number grey">0</span>
                    </span>
                </li>
                <li>
                    Fee credit
                    <span title="Fee credit will be used to pay for the TransferWise service. You get fee credit for inviting people to use TransferWise."
                          data-interactive='false' data-theme='.tw-default' class='tooltipster'>
                        <span class="number grey">
                            £0
                        </span>
                    </span>
                </li>
            </ul>
            <div class="clear line big"></div>
            <div class="search wide top10">
                <input type="text" class="left search-field" placeholder="Search by amount, reference, recipient"/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="list paymentsList">
            <div class="payment-header">
                <div class="status">Payment status</div>
                <div class="created">Created</div>
                <div class="recipient">Recipient</div>
                <div class="amount">Amount</div>
                <div class="clear"></div>
            </div>
            <div class=" payment-row data-row">
                <div class="mobile-wrap">
                    <div class="status">
                        <a href="/payment/223479">
                            <ul class='status-transfer deposit cancelled'>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <span class='text'>Cancelled</span>
                        </a>
                    </div>
                    <div class="created">
                        <a href="/payment/223479">
                            <span title="18 Dec 2013 13:38">3 days ago</span>
                        </a>
                    </div>
                </div>
                <div class="mobile-wrap">
                    <div class="menu  ">
                        <ul>
                            <li>
                                <a href="/payment/223479">
                                    View details
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="amount">
                        <a href="/payment/223479">
                            15.00
                            EUR &gt; USD
                        </a>
                    </div>
                    <div class="recipient">
                        <a href="/payment/223479">
                            <img class="flag" src="/static/images/tw_emailxfer_icon.png"/>
                            <span title="kyzenkov@ukr.net">
                                kyzenkov@u...
                            </span>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="transfers-footer">
            <div class="left">
                <a href="#" class="olderPayments">Display older payments</a>
            </div>
            <div class="right">
                Total transferred:
                <span class="amount">
                    0.00
                    GBP
                </span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
</div>
<div id="fb-root"></div>
<br class="clear"/>
</div>
</div>
<div class="footer dashboard">
    <div class="container">
        <div class="column">
            <div class="footer-title">
                Earn money
            </div>
            <div class="items">
                <p>
                    Invite your friends and give them a free transfer. For every 3 friends who use their transfer, we
                    give you £50 for your help.
                </p>
                <a href="/invite">Invite friends</a>
            </div>
        </div>
        <div class="column">
            <div class="footer-title">
                About Us
            </div>
            <div class="items">
                <ul>
                    <li><a href="/about">Company & Team</a></li>
                    <li><a href="/blog">News & Blog</a></li>
                    <li><a href="/media-and-awards">Press</a></li>
                    <li><a href="/jobs">Careers</a></li>
                    <li><a href="/students">TransferWise for Students</a></li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="footer-title">
                Help & Support
            </div>
            <div class="items">
                <ul>
                    <li><a href="/support/how-transferwise-works">Getting started</a></li>
                    <li><a href="/support/how-much-does-it-cost">Pricing</a></li>
                    <li><a href="/support/what-currencies">Supported currencies</a></li>
                    <li><a href="/cheapest-money-transfer-guaranteed">Best Price Guarantee</a></li>
                    <li>
                        <a href="/support">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column-last">
            <div class="footer-title">
                Contact
            </div>
            <div class="items">
                <ul class="contact-us">
                    <li>
                        <a href="mailto:support@transferwise.com" class="icon mail">support@transferwise.com</a>
                    </li>
                    <li>
                        <span class="icon phone">
                            call +44 208 1234 020
                        </span>
                    </li>
                    <li>
                        <span class="icon fax">
                            fax +44 20 3318 2623
                        </span>
                    </li>
                    <li>
                        <a href="https://twitter.com/transferwise" target="blank" class="icon twitter">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/transferwise" target="blank" class="icon facebook">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/104977458125119375235/posts" rel="publisher" target="blank"
                           class="icon gplus">
                            Google+
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="line"></div>
        <div class="left bot30">
            <p class="copyright">
                © TransferWise Ltd 2013
                - <a href="/terms-of-use">Terms of use</a>
                - <a href="/privacy-policy">Privacy policy</a>
                - <a href="/cookie-policy">Cookie policy</a>
            </p>
            <p class="copyright">
                Transferwise is a registered money service business. Her Majesty's Revenue and Customs certificate
                number <a href="/mlr" onclick="window.open(this.href);
            return false;">12591871</a>.<br/>
                We are fully authorised by the UK Financial Conduct Authority (FCA) as a payments institution with
                reference <a href="http://www.fsa.gov.uk/register/psdFirmRefSearch.do?firmRef=571669"
                             onclick="window.open(this.href);
                             return false;">571669</a>.
            </p>
        </div>
        <div class="right top20">
            <img src="/static/images/fca.png"/>
        </div>
    </div>
    <div class="clear"></div>
</div>


