@charset "UTF-8";
.block-mobile,
.block-desktop {
	display: none !important;
}

.block-tablet,
.block-tablet.block-desktop,
.block-tablet.block-mobile {
	display: block;
}

.header .menu-dashboard.b li.hide-in-resp-invites,
.header .menu-dashboard.b li.hide-in-resp-recipients span.recipients,
br.clear {
    display: none;
}

.footer, .footer.dashboard {
    width: 94%;
    padding: 0 3%;
}

.styled-body .container {
    position: static;
}

.styled-body {
    padding-bottom: 0 !important;
}

.header .logo a {
    margin-left: 10px;
}

.footer .column {
    margin-right: 2%;
    width: 23%;
}

.footer .column-last {
    width: 25%
}
/*Dashboard Invite Widget*/
.invite-widget {
	margin-bottom: 0 !important;
}


