@charset "UTF-8";
.amount-cur-selector input.cur-input {
	width: 100px;
	height: 38px;
	border: 1px solid #C7CFDE;
	background-color: #fff;
	padding: 0 12px;
	text-align: right;
	font-weight: 500;
	font-size: 20px;
	color: #667D80;
	display: block;
	float: left;
}

.form-cur-exch .target.amount-cur-selector {
	position: absolute;
	left: 0;
	top: 51px;
}

.amount-cur-selector .cur-input-wrap {
	padding-right: 109px;
	padding-left: 105px;
	left: -6px;
	position: absolute;
}

.amount-cur-selector input.disabled {
	color: #8DA4A6;
	background-color: #F2F5F5;
}

.amount-cur-selector .cur {
	width: 82px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-right: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	float: right;
	background: transparent url('../images/cur-dd-bg.png') 0 0 repeat-x;
	position: absolute;
	left: 225px;
}

.amount-cur-selector .cur-exchange {
	float: left;
	width: 34px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	background: transparent url('../images/cur-dd-bg.png') 0 0 repeat-x;
}

.amount-cur-selector.arrow {
	float: left;
	width: 26px;
	height: 40px;
	margin-top: 25px;
}

.amount-cur-selector.arrow a {
	height: 100%;
	display: block;
	background: transparent url('images/index/exch-arrow.png') 50% 50% no-repeat;
	text-decoration: none;
}

.amount-cur-selector.one-arrow {
	float: left;
	width: 24px;
	height: 40px;
	margin-top: 25px;
	margin-right: 3px;
}

.amount-cur-selector.one-arrow a {
	height: 104px;
	margin-top: -39px;
	display: block;
	background: transparent url('images/index/one-way-arrow.png') 50% 50% no-repeat;
	text-decoration: none;
}

.amount-cur-selector .fix-type-selector {
	position: absolute;
	top: 7px;
	right: 0px;
}

.form-cur-exch .head-color {
	color: #8DA4A6;
	border-top: none !important;
}

.form-cur-exch .results td {
	padding: 2px 0;
}

.form-cur-exch .source, .form-cur-exch .target {
	float: right;
	color: #8DA4A6;
	font-weight: 500;
}

.form-cur-exch .cur-input-label {
	float: left;
	width: 100px;
	margin-top: 10px;
	font-weight: 700;
	color: #667D80;
}

.form-cur-exch .source label, .form-cur-exch .target label {
	display: block;
}

.results .col-3 .tw-total-saving {
	color: #4c5c66;
}

.form-cur-exch .results td.vtop {
	vertical-align: top;
}

.form-cur-exch .title {
	color: #8DA4A6;
}

.form-cur-exch .note a, .form-cur-exch .note {
	font-size: 12px;
	line-height: 12px;
	padding-bottom: 3px;
	color: #8DA4A6;
}

.form-cur-exch .note a.notu {
	text-decoration: none;
}

.form-cur-exch .head {
	color: #667D7F;
	font-weight: 600;
	letter-spacing: 0.3px;
	padding: 15px 0 8px 0;
	margin: 0 16px;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 2px solid #dae6e6;
}

.form-cur-exch .head .partnership-title {
	float: left;
	width: 170px;
	margin-top: 5px;
}

.form-cur-exch .head .partnership-image {
	height: 34px;
}

.form-cur-exch .currency {
	border-top: 2px solid #fff;
	margin: 0px 18px;
}

.form-cur-exch .payment {
	float: left;
	width: 100px;
	font-weight: 400;
	font-size: 15px;
	margin: 19px 0;
	color: #8DA4A6;
}

.form-cur-exch .amount-cur-selector {
	padding-top: 8px;
	position: absolute;
	top: 0;
	left: 0;
}

.form-cur-exch table tr {
	height: 36px;
}

.form-cur-exch table tr td {
	padding: 0px !important;
	vertical-align: middle !important;
}

.form-cur-exch .col-1 {
	width: 90px;
	border-bottom: 1px solid #dae6e6;
	color: #8da4a6;
	vertical-align: top;
	text-align: left;
	font-size: 13px;
	background-color: transparent;
	padding-top: 11px;
	padding-bottom: 5px;
}

.form-cur-exch .col-1 .show-service-cost-details {
	color: #8DA4A6;
	background:  transparent url("images/index/payment-details-arrow.png") 100% 50% no-repeat;
	padding-right: 15px;
}

.form-cur-exch .col-1 .show-service-cost-details.opened {
	background:  transparent url("images/index/payment-details-arrow-opened.png") 100% 50% no-repeat;
}

.form-cur-exch .make {
	color: #8B9D9F;
	font-size: 15px;
	overflow: hidden;
	padding-bottom: 15px;
	padding-top: 12px;
}

.form-cur-exch .make a {
	color: #8B9D9F;
}

.form-cur-exch .make span {
	float: left;
	margin-top: 10px;
	width: 260px;
}

.form-cur-exch .make span.vtop {
	margin-top: 0px;
}

.form-cur-exch .make span strong {
	font-weight: 800;
}

.form-cur-exch .make span.green {
	color: #709D00;
	letter-spacing: 0.3px;
	padding-bottom: 5px;
	background: transparent url("images/index/free_transfer_mark.png") 0 100% no-repeat;
}

.form-cur-exch .make input {
	float: right;
	margin-left: 7px;
	margin-right: 0px;
}

.form-cur-exch .results {
	width: 307px;
}

.form-cur-exch .number, .form-cur-exch .big-number, .form-cur-exch .bigest-number {
	color: #667D80;
	font-size: 15px;
	line-height: 21px;
}

.form-cur-exch .big-number {
	font-weight: 400;
	font-size: 17px;
	font-weight: 600;
}

.form-cur-exch .bigest-number {
	font-weight: 600;
	font-size: 24px;
}

tbody tr:nth-child(even) td,
tbody tr.even td {
	background: none;
}

th,td,caption {
	padding: 0px;
}

.col-2, .col-3 {
	width: 140px;
	border-bottom: 1px solid #dae6e6;
	text-align: right;
	font-size: 13px;
	background: transparent;
}

.form-cur-exch .white-line {
	border-top: 1px solid white;
}

.form-cur-exch .fee-font {
	display: none;
}


.wrap-selects {
	position: relative;
}

.calculation-details {
	padding-top: 144px;
}

