@charset "UTF-8";
body {
	min-width: 50px !important;
}

.header .logo a {
	margin-left: 10px;
}

.header .nav-menu-button {
	display: block !important;
	position: absolute;
	top: 20px;
	right: 15px;
}

.menu-dashboard.b li {
	background: none;
}

.menu-dashboard.b li a span.recipients,
.menu-dashboard.b li a span.invites,
.menu-dashboard.b a span.security,
.menu-dashboard.b a span.help,
.menu-dashboard.b a span.settings {
	background: none;
}

.menu-dashboard.b a span.security .logout {
	display: block;
}

.menu-dashboard.b li a span {
	height: auto;
}


.menu-dashboard.b li.no-sep {
	display: none;
}

.styled-body .container {
	position: static;
}

.container {
	position: relative;
}

.header .menu-dashboard.b .active,
.menu-dashboard.b a:hover {
	border-bottom: none;
}

.header .menu-dashboard.b {
	float: left;
	width: 100%;
	background-color: #92AEB3;
	margin-top: 0;
	display: none;
}

.header .menu-dashboard.b li a {
	background: none;
	color: #ffffff;
	padding: 0px 9px 0px 12px;
	height: 43px;
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid #768D91;
	border-top: 1px solid #9CB6BB;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.header .menu-dashboard.b li {
	float: none;
	line-height: 42px;
}

.header .menu-dashboard.b .active,
.menu-dashboard.b a:hover {
	color: #ffffff;
	background-color: #80A1A7;
}

.header .menu-dashboard.b li .logout-resp {
	background-color: #E6B672;
	background-image: -moz-linear-gradient(top, #E6B672, #C47548);
	background-image: -ms-linear-gradient(top, #E6B672, #C47548);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E6B672), to(#C47548));
	background-image: -webkit-linear-gradient(top, #E6B672, #C47548);
	background-image: -o-linear-gradient(top, #E6B672, #C47548);
	background-image: linear-gradient(top, #E6B672, #C47548);
	background-repeat: repeat-x;
}

.header .nav-indent {
	padding-top: 63px;
}

.menu-dashboard.b .empty {
	padding-top: 4px;
}

.styled-body {
	padding-bottom: 0 !important;
}

br.clear {
	display: none;
}

.footer, .footer.dashboard {
	width: 94%;
	padding: 0 3%;
}

.block-tablet {
    display: none !important;
}

.block-desktop {
    display: none !important;
}

.block-mobile,
.block-mobile.block-desktop,
.block-mobile.block-tablet {
    display: block !important;
}

tr.block-mobile,
tr.block-mobile.block-desktop,
tr.block-mobile.block-tablet {
    display: table-row !important;
}

.dashboard.dashboard-common .messages {
    margin-bottom: 10px;
    border-radius: 0;
}

.dashboard.dashboard-common .messages .header {
    border-radius: 0;
}

.dashboard.dashboard-common .messages .text,
.counter-parties-popup .award {
    width: 70%;
}

.dashboard.dashboard-common .messages .icon {
    margin: 5% 2%;
}

.new-message.orange,
.new-message.green {
    border-radius: 0 0 0 0;
    margin: 0 auto;
    padding: 7px 3%;
    width: 94%;
}

.header .menu-dashboard.b li.hide-in-resp-invites,
.header .menu-dashboard.b li.hide-in-resp-recipients {
    display: none;
}

