@charset "UTF-8";
.dashboard .title h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    text-transform: none;
    margin: 0;
    color: #709D00;
}

.dashboard .panel {
    background: #f7f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f7f9f9 0%, #f1f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f9f9), color-stop(100%,#f1f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f9f9 0%,#f1f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f9f9 0%,#f1f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f9f9 0%,#f1f5f5 100%); /* IE10+ */
    background: linear-gradient(top, #f7f9f9 0%,#f1f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9f9', endColorstr='#f1f5f5',GradientType=0 ); /* IE6-9 */
    padding: 0;
}

.dashboard .panel.left {
    width: 65%;
}

.dashboard .recipients.right {
    width: 32%;
}

.dashboard .recipients.right li:first-child {
    background: none;
    min-height: 30px;
    font-weight: 600;
    font-size: 16px;
    padding-left: 0;
	color: #667D80;
	border-bottom: 1px solid #DCE0E0;
}

.dashboard .recipients.right li:not(:first-child) {
    border-bottom: 1px solid #DCE0E0;
    margin: 10px 0;
    height: 60px;
    background: url(../images/recipients_photo.png) no-repeat;
}

.dashboard .recipients.right li.extended {
	height: 75px;
}

.dashboard .recipients.right li.pt-list {
	height: auto;
	font-size: 15px;
}

.grayed {
	color: #B0BEBF;
}

.dashboard .recipients.right li.no-request-desc {
	background: none;
	border-bottom: 1px solid #DCE0E0;
	margin: 10px 0;
	min-height: 60px;
	padding-left: 0;
	font-size: 14px;
	color: #8DA4A6;
	font-weight: 500;
	padding-bottom: 10px;
}

.dashboard .recipients.right li.no-request-desc.with-button {
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: auto;
	min-height: 0px;
}

.font80 {
	margin-top: 10px;
	font-size: 80%;
}

.dashboard .recipients.right li {
    padding-left: 62px;
}

.dashboard .recipients.right li .recipient {
    margin: 0;
    color: #667D80;
    font-weight: 600;
}

.dashboard .recipients.right li .link {
    color: #8DA4A6;
    font-size: 13px;
    font-weight: 600;
}

.dashboard h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #709D00;
    text-transform: none;
    margin: 0;
}

.dashboard .title h3 {
    display: block;
    float: left;
    padding-bottom: 10px;
}

.dashboard .title h3.priority-invite {
	width: 590px !important;
	padding-bottom: 3px;
}

.dashboard .title .priority-subhead {
	font-size: 14px;
	font-weight: 600;
	color: #224559;
}

.dashboard.recipient .title h3 {
    width: 100%;
}

.dashboard .panel .title {
    margin: 20px 25px 0 25px;
    padding-bottom: 10px;
}

.dashboard .panel .title .cancel-link {
	color: #B0BEBF;
	font-weight: 600;
}

.dashboard .panel .title .info {
	padding-bottom: 5px;
}

.dashboard .panel .title .info li {
    display: inline;
    line-height: 22px;
    padding: 0 3px;
    font-weight: 600;
    font-size: 14px;
    color: #B0BEBF;
}

.dashboard .panel .title .info li:before {
    content: "|";
    padding-right: 5px;
    color: #DDE1E1;
    font-size: 11px;
}

.dashboard .panel .title .info li:first-child:before {
    content: "";
}

.dashboard .panel .search input[type=text] {
    background: url(../images/search.png) no-repeat scroll left center transparent;
    background-color: #FFFFFF;
    border: 1px solid #C6C4B3;
    color: #172A33;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 20px;
    padding: 5px 0 5px 30px;
    text-align: left;
    width: 350px;
}

.dashboard .panel .search.short input[type=text]{
	width: 310px;
}

.dashboard .panel .search.wide input[type=text] {
	width: 542px;
}

.dashboard .panel .search input[type=text]:-moz-placeholder {
	color: #A9A9A9;
}

.dashboard .panel .search input[type=text]:-ms-placeholder {
	color: #A9A9A9 !important;
}

.dashboard .line.big {
    border-bottom: 5px solid #DCE0E0;
}

.dashboard .line {
    border-bottom: 1px solid #DCE0E0;
}

.dashboard .list {
    background-color: #fff;
    color: #B0BEBF;
    font-size: 13px;
    font-weight: 500;
}

.dashboard .list {
    background-color: #fff;
    color: #B0BEBF;
    font-size: 13px;
    font-weight: 500;
}

.dashboard .list .payment-header,
.dashboard .list .payment-row {
    font-weight: 500;
    border-top: 1px solid #DCE0E0;
    text-align: left;
    font-size: 12px;
}

.dashboard .list .payment-header {
    padding: 45px 0 5px 0;
}

.dashboard .list .payment-row {
    padding: 23px 0;
    line-height: 24px;
}

.dashboard .list .payment-row a {
    display: block;
    text-decoration: none;
    width: 100%;
}

.dashboard .list .payment-header,
.dashboard .list .payment-header .amount {
    font-size: 13px;
    font-weight: 500;
}

.dashboard .list .status {
    float: left;
    padding-left: 25px;
    width: 205px;
}

.dashboard .list .created {
    float: left;
    width: 85px;
}

.dashboard .list .recipient {
    float: left;
    width: 115px;
}

.dashboard .list .amount .type {
	font-size: 12px;
	color: #B0BEBF;
}

.dashboard .list .amount {
    padding-right: 25px;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    float: right;
	width: 160px;
}

.dashboard .list .payment-row.active {
    color: #172A33;
}

.dashboard .list .payment-row .menu {
	display: none;
	float: right;
}

.dashboard .list .payment-row:hover .menu {
	display: block;
	margin-top: -23px;
	margin-bottom: -23px;
	width: 121px;
	background: #FFF;
	height: 70px;
	box-shadow: 7px 7px 7px 0px rgba(100, 100, 100, 0.2);
}

.dashboard .list .payment-row:hover .menu.pt {
    height: 95px;
}

.dashboard .list .payment-row:hover .menu a {
	text-decoration: underline;
	color: #8DA4A6;
	font-size: 13px;
	font-weight: 600;
}

.dashboard .list .payment-row .menu ul {
	padding: 23px 0px 0px 22px;
}
.dashboard .list .payment-row .menu.two ul {
    padding-top: 12px;
}

.dashboard .list .payment-row:hover {
	background-color: #f7f9f9;
	width: 745px;
}

.dashboard .transfers-footer, .dashboard .account-footer {
    padding: 20px 25px 40px 25px;
    border-top: 1px solid #DCE0E0;
}

.dashboard .account-footer {
    padding-bottom: 25px;
}

.dashboard .account-footer a {
    color: #B0BEBF;
    font-weight: 400;
}

.dashboard .transfers-footer .left a {
    color: #B0BEBF;
    font-weight: 600;
}

.dashboard .transfers-footer .right {
    color: #B0BEBF;
}

.dashboard .transfers-footer .send-group,
.dashboard .transfers-footer .send-group a {
	color: #8DA4A6;
	font-size: 13px;
	line-height: 13px;
}

.dashboard .transfers-footer .right span.amount {
    font-weight: 700;
}

.dashboard .priority-timing {
	font-weight: 700;
	font-size: 13px;
}

.dashboard .list .text {
    padding-left: 10px;
    line-height: 24px;
}

.dashboard .status-transfer li {
    height: 20px;
    width: 20px;
    background-color: #F6F8F8;
    border: 1px solid #DCE0E0;
    box-shadow: inset 0px 1px 0px rgba(100, 100, 100, 0.4);
    border-left: none;
    border-top-width: 0px;
    border-bottom-width: 2px;
    float: left;
}

.dashboard .status-bonus {
	border: 1px solid #DCE3CC;
	border-top: 1px solid #DCE3CC;
	border-bottom-width: 2px;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9);
	height: 19px;
	width: 80px;
	float: left;
	border-radius: 3px 3px 3px 3px;
	background-color: #F0F5E6;
	text-align: center;
	color: #AABC85;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 21px;
	text-transform: uppercase;
}

.dashboard .status-transfer li:first-child {
    border-radius: 3px 0 0 3px;
}

.dashboard .status-transfer li:last-child {
    border-radius: 0 3px 3px 0;
}

.dashboard .status-transfer.deposit li:nth-child(1),
.dashboard .status-transfer.match li:nth-child(1),
.dashboard .status-transfer.match li:nth-child(2),
.dashboard .status-transfer.deliver li:nth-child(1),
.dashboard .status-transfer.deliver li:nth-child(2),
.dashboard .status-transfer.deliver li:nth-child(3),
.dashboard .status-transfer.completed li:nth-child(1),
.dashboard .status-transfer.completed li:nth-child(2),
.dashboard .status-transfer.completed li:nth-child(3),
.dashboard .status-transfer.completed li:nth-child(4),
.dashboard .status-transfer.waitingrecipient li:nth-child(1) {
    background-color: #D5E6B6;
    border: 1px solid #AABC85;
    border-bottom: 2px solid #AABC85;
    box-shadow: inset 1px 1px 1px rgba(100, 100, 100, 0.4);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9);
    height: 19px;
}

.dashboard .status-transfer.match li:nth-child(1),
.dashboard .status-transfer.deliver li:nth-child(1),
.dashboard .status-transfer.deliver li:nth-child(2),
.dashboard .status-transfer.completed li:nth-child(1),
.dashboard .status-transfer.completed li:nth-child(2),
.dashboard .status-transfer.completed li:nth-child(3) {
    border-right: none;
}

.dashboard .status-transfer.match li:nth-child(2),
.dashboard .status-transfer.deliver li:nth-child(2),
.dashboard .status-transfer.deliver li:nth-child(3),
.dashboard .status-transfer.completed li:nth-child(2),
.dashboard .status-transfer.completed li:nth-child(3),
.dashboard .status-transfer.completed li:nth-child(4),
.dashboard .status-transfer.match.canceled li:nth-child(2) {
    border-left: none;
}

.dashboard .status-transfer.completed li {
    background-color: #F0F6E5 !important;
    border-top: 1px solid #DCE3CC !important;
    border-bottom: 2px solid #DCE3CC !important;
}

.dashboard .status-transfer.completed li:first-child {
    border-left: 1px solid #DCE3CC !important;
}

.dashboard .status-transfer.completed li:last-child {
    border-right: 1px solid #DCE3CC !important;
}

.dashboard .status-transfer.deposit.cancelled li:nth-child(1),
.dashboard .status-transfer.match.cancelled li:nth-child(1),
.dashboard .status-transfer.match.cancelled li:nth-child(2),
.dashboard .status-transfer.deliver.cancelled li:nth-child(1),
.dashboard .status-transfer.deliver.cancelled li:nth-child(2),
.dashboard .status-transfer.deliver.cancelled li:nth-child(3) {
    background-color: #F4E9E5;
    border-top: 1px solid #E5D6D0 !important;
    border: 1px solid #E5D6D0 !important;
    border-bottom: 1px solid #E5D6D0 !important;
}

.dashboard .status-transfer.deposit.cancelled li:nth-child(2),
.dashboard .status-transfer.deposit.cancelled li:nth-child(3),
.dashboard .status-transfer.deposit.cancelled li:nth-child(4),
.dashboard .status-transfer.match.cancelled li:nth-child(3),
.dashboard .status-transfer.match.cancelled li:nth-child(4),
.dashboard .status-transfer.deliver.cancelled li:nth-child(4) {
    border-width: 0 1px 1px medium !important;
}

.dashboard .status-transfer.deposit.cancelled li:nth-child(1),
.dashboard .status-transfer.match.cancelled li:nth-child(1),
.dashboard .status-transfer.deliver.cancelled li:nth-child(1),
.dashboard .status-transfer.deliver.cancelled li:nth-child(2) {
    border-right: none !important;
}

.dashboard .status-transfer.match.cancelled li:nth-child(2),
.dashboard .status-transfer.deliver.cancelled li:nth-child(2),
.dashboard .status-transfer.deliver.cancelled li:nth-child(3) {
    border-left: none !important;
}

.dashboard .no-payments {
    height: 200px;
    background: #fff url(images/dashboard/no-payments.png) 250px 50px no-repeat;
    border-top: 1px solid #DCE0E0;
}

.dashboard .no-recipients {
    height: 200px;
    background: #fff url(images/dashboard/no-recipients.png) 250px 50px no-repeat;
    border-top: 1px solid #DCE0E0;
}

.dashboard .no-payments .text,
.dashboard .no-recipients .text {
    margin: 80px 50px 0 50px;
}

.dashboard .no-payments .text p,
.dashboard .no-recipients .text p {
    text-align: center;
    margin: 0;
}

.dashboard .no-payments .text p:first-child,
.dashboard .no-recipients .text p:first-child {
    color: #172A33;
    font-weight: 600;
    font-size: 14px;
}

.dashboard .no-payments .text p:last-child,
.dashboard .no-payments .text p:last-child a,
.dashboard .no-recipients .text p:last-child,
.dashboard .no-recipients .text p:last-child a {
    color: #8CA4A5;
    font-weight: 500;
    font-size: 13px;
}

.dashboard .recipients {
    background-color: #fff;
}

.dashboard .recipients td.bank {
    color: #172A33;
    width: 250px;
}

.dashboard .recipients div.name {
    font-weight: 600;
    font-size: 16px;
}

.dashboard .recipients .label {
    width: 30px;
    text-align: right;
    float: left;
    padding-right: 10px;
    color: #8DA4A6;
}

.dashboard .recipients .label-wide {
	min-width: 20px;
	text-align: right;
	float: left;
	padding-right: 10px;
	color: #8DA4A6;
}

.dashboard .recipients .label-payer {
	float: left;
	font-size: 13px;
	padding-right: 10px;
	color: #8DA4A6;
	padding-top: 2px;
}

.dashboard .recipients div.iban-acc,
.dashboard .recipients div.bic-sort,
.dashboard .recipients div.info-line {
    font-weight: 600;
    font-size: 13px;
}

.dashboard .recipients div.iban-acc {
    padding-top: 10px;
}

.dashboard .recipients .transferred {
    padding-right: 25px;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    color: #8DA4A6;
}

.dashboard .recipients .transferred .total {
    padding-top: 30px;
}

.dashboard .recipients .transferred .total.merchant {
	padding-top: 5px;
}

.dashboard .recipients .transferred span {
    padding-left: 10px;
    font-weight: 700;
    font-size: 15px;
}

.dashboard .recipients .links a {
    padding: 0 5px;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    color: #8DA4A6;
}

.dashboard .recipients tr td {
    border-top: 1px solid #DCE0E0;
    padding-top: 20px;
}

.dashboard .recipients tr td.col-1,
.dashboard .recipients tr td.col-2,
.dashboard .recipients tr td.col-3  {
	border-top: 1px solid #ffffff;
}

.dashboard .recipients td.photo {
    background: url("images/payment/payment_photo.png") 25px  no-repeat;
    height: 105px;
    width: 105px;
}

.dashboard .recipients td.photo.bus {
    background: url("images/payment/payment_photo_bus.png") 25px  no-repeat;
}

.dashboard .invite-area {
	background: white;
	border-top: 1px solid #DCE0E0;
}

.dashboard .tab li:first-child {
	margin-left: 0;
}

.dashboard .tab {
	border-bottom: 1px solid #DAE6E6;
}

.dashboard .tab.active {
	border-bottom: 1px solid #8DA4A6;
}

.dashboard .tab li.active {
	border-left: 1px solid #8DA4A6;
	border-top: 1px solid #8DA4A6;
	border-right: 1px solid #8DA4A6;
	border-bottom: 1px solid #FFFFFF;
}

.dashboard .tab li.active a {
	text-decoration: none;
	font-weight: 700;
	color: #77888C;
}

.dashboard .tab li {
	list-style: none;
	float: left;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	text-decoration: none;
	padding: 13px 5px 13px 45px;
	background: url('images/invite/tabs_facebook.png') 15px no-repeat;
	border-left: 1px solid #DAE6E6;
	border-top: 1px solid #DAE6E6;
	border-right: 1px solid #DAE6E6;
	margin-left: 2px;
	position: relative;
	width: 85px;
}

.dashboard .tab.active li.active {
	top: 1px;
}

.dashboard .tab li.facebook.active {
	background: url('images/invite/tabs_facebook_active.png') 15px no-repeat;
}

.dashboard .tab li.email {
	background: url('images/invite/tabs_email.png') 15px no-repeat;
}

.dashboard .tab li.email.active {
	background: url('images/invite/tabs_email_active.png') 15px no-repeat;
}

.dashboard .tab li.twitter {
	background: url('images/invite/tabs_twitter.png') 15px no-repeat;
}

.dashboard .tab li.twitter.active {
	background: url('images/invite/tabs_twitter_active.png') 15px no-repeat;
}

.dashboard .tab li.share {
	background: url('images/invite/tabs_share.png') 15px no-repeat;
}

.dashboard .tab li.share.active {
	background: url('images/invite/tabs_share_active.png') 15px no-repeat;
}

.dashboard .tab a {
	color: #8CA4A5;
	font-size: 13px;
	line-height: 13px;
	padding-bottom: 5px;
	padding-top: 10px;
}

.dashboard .tab li.active a {
	color: #77888C;
	font-weight: 700;
	text-decoration: none;
}

.invite-area p.title {
	padding-top: 15px;
	padding-bottom: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	color: #224559;
	font-weight: 700;
	text-align: center;
}

.invite-area p.text {
	margin: 0;
	padding-bottom: 0;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
}

.invite-area textarea.preview {
	height: 200px;
}

.invite-area textarea {
	padding: 5px;
}

.invite-area p.counter {
	font-size: 12px;
}

.invite-area .tabs > div {
	min-height: 310px;
}

.invite-area .tab-1 {
	background: url('images/invite/facebook_bg.png') no-repeat center bottom;
}

.invite-area .tab-2 {
	background: url('images/invite/email_bg.png') no-repeat center 0px;
}

.invite-area .tab-3 {
	background: url('images/invite/share_bg.png') no-repeat center 0px;
}

.invite-area .tab-4 {
	background: url('images/invite/share_bg.png') no-repeat center 0px;
}

.invite-area textarea:-moz-placeholder {
	color: #BBBBBB;
}

.invite-area textarea::-webkit-input-placeholder {
	color: #BBBBBB;
}

.invite-area textarea:-ms-input-placeholder {
	color: #BBBBBB;
}

.invite-area input:-moz-placeholder {
	color: #BBBBBB;
}

.invite-area input::-webkit-input-placeholder {
	color: #BBBBBB;
}

.invite-area input:-ms-input-placeholder {
	color: #BBBBBB;
}

h3.invite-title {
	width: 280px !important;
}

.tab-1 .fb-like {
	margin-left: 230px;
	margin-top: 15px;
}

a.preview-link {
	text-align: right;
	color: #667D80;
	font-size: 12px;
}

.central {
	margin: 10px auto 0px auto;
}

.p-reference {
	margin-top: 5px;
	font-weight: 900;
	float: right;
	margin-right: 10px;
}

.p-reference a {
	color:#728C99 !important;
}

input.empty {
	color: #AAAAAA !important;
}

.fb-like,
.fb-like > span,
.fb-like > span iframe {
	min-width: 130px !important;
	min-height: 25px !important;
}

.border-bot {
	border-bottom: 1px solid #DCE0E0;
}

.dashboard .counter-parties-widget {
	margin-bottom: 50px;
	margin-top: 30px;
}

.dashboard .counter-parties-widget .counter-parties-title {
	font-weight: 600;
	font-size: 16px;
	color: #667D80;
	border-bottom: 1px solid #DCE0E0;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.dashboard .counter-parties-widget .counter-parties-text {
	font-size: 15px;
	color: #8DA4A6;
	font-weight: 500;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DCE0E0;
}

.dashboard .counter-parties-widget .award-img-container {
	width: 50px;
	float: left;
}

.dashboard .counter-parties-widget .counter-parties-text .digit {
	font-size: 17px;
	font-weight: 700;
}

.dashboard .counter-parties-widget .counter-parties-text a {
	color: #8DA4A6;
}

.dashboard .counter-parties-widget .award-img {
	width: 31px;
	margin-top: 5px;
}

.dashboard .counter-parties-widget .twitter-share-button {
	vertical-align: top !important;
	margin-top: 0px !important;
}

.twitter-share-button {
	vertical-align: top !important;
	margin-top: 2px;
}

.counter-parties-popup {
	background: rgb(248, 249, 249);
	background: rgba(248, 249, 249, 0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66F8F9F9, endColorstr=#66F8F9F9)";
	background-repeat: no-repeat;
	border-radius: 7px;
	box-shadow: 0 7px 7px 7px rgba(100, 100, 100, 0.2);
	color: #667D80;
	min-height: 100px;
	background: url('images/counter-parties/bg.png') no-repeat 193px 0px;
}

.counter-parties-popup .award {
	padding: 15px 0 15px 25px;
	float: left;
}

.counter-parties-popup .award .award-title {
	font-size: 22px;
	padding-left: 20px;
	padding-top: 5px;
	display: inline-block;
	color: #224559;
	font-weight: 600;
}

.counter-parties-popup .award .award-description {
	color: #667D80;
	padding-top: 5px;
	margin-bottom: 15px;
	font-size: 18px;
}

.counter-parties-popup .award .award-img {
	float: left;
	width: 25px;
}

.counter-parties-popup .award .digit {
	font-weight: 700;
	font-size: 20px;
}

.counter-parties-popup .close {
	text-indent: -9000px;
	text-transform: capitalize;
	float: right;
	background: url("images/messages/close_states.png") no-repeat 0px 0px ;
	margin: 10px 15px 0 0;
	height: 16px;
	width: 16px;
	cursor: pointer;
	border: none;
	outline: none;
}

.counter-parties-popup .close:active {
	background: url("images/messages/close_states.png") no-repeat -36px 0px;
}

.counter-parties-popup .close:hover {
	background: url("images/messages/close_states.png") no-repeat -18px 0px;
}

.counter-parties-popup .award-description a {
	color: #667D80;
}

.indent-select-calc {
	display: block !important;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;
	height: 38px !important;
	border: 0 !important;
	border-radius: 0;
	width: 135% !important;
	padding: 10px 0 10px 5px;
	background: transparent url("../images/cur-select-arrow.png") 57px 8px no-repeat !important;
}

.merchant-share-link {
	width: 100%;
	font-size: 14px;
	background-color: #F3F6F6;
	font-weight: 500;
	padding: 6px 0;
	text-align: center;
	display: inline-block;
	box-shadow: inset 0 0 20px -6px #CCC;
	margin-bottom: 10px;
	float: left;
}

.dashboard .recipients.right .link {
	color: #8DA4A6;
	font-size: 13px;
	font-weight: 600;
}
.invite-widget {
	margin-bottom: 30px;
}

.invite-widget .text-container {
	padding: 10px 15px 10px 25px;
	float: left;
	max-width: 210px;
}

.invite-widget .text-container .heading {
	color: #25566E;
	font-weight: 700;
	font-size: 15px;
}

.invite-widget .text-container .sub-head {
	color: #657d80;
	font-size: 13px;
	font-weight: 500;
}

.invite-widget .link-to-share {
	font-size: 14px;
	background-color: #fcfcfc;
	font-weight: 500;
	padding: 6px 8px;
	display: inline-block;
	box-shadow: inset 0 0 20px -6px #CCC;
	border: 1px solid #d6d6d6;
	margin-top: 11px;
	color: #667D80;
	float: left;
}

.invite-widget .invite-more {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 14px;
	padding: 7px 12px 6px 12px;
	float: left;
}


