@charset "UTF-8";
.dashboard-common .free-transfers.right {
    width: 32%;
}

.dashboard-common .free-transfers p {
    margin: 0;
}

.dashboard-common .free-transfers p:first-child {
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #DCE0E0;
	margin: 10px 0;
	padding-bottom: 5px;
}

.dashboard-common .free-transfers p.title {
    font-size: 16px;
    color: #667D80;
    font-weight: 600;
    padding: 10px 0;
}

.dashboard-common .free-transfers p.text,
.dashboard-common .free-transfers p a {
    font-size: 13px;
    color: #8DA4A6;
    font-weight: 500;
}


.dashboard-common .info .number {
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    height: 16px;
    line-height: 17px;
    margin-left: 5px;
    margin-top: 2px;
    padding: 0 10px;
}

.dashboard-common .info .number.grey {
    background-color: #E6EBEB;
    border: 1px solid #DDE1E1;
    color: #B0BEBF;
}

.dashboard-common .info .delimiter {
    padding-right: 5px;
    padding-left: 5px;
}

.dashboard-common .info .number.orange {
    background: #e6b672; /* Old browsers */
    background: -moz-linear-gradient(top, #e6b672 0%, #e6b571 7%, #dc8c4a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6b672), color-stop(7%,#e6b571), color-stop(100%,#dc8c4a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e6b672 0%,#e6b571 7%,#dc8c4a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e6b672 0%,#e6b571 7%,#dc8c4a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e6b672 0%,#e6b571 7%,#dc8c4a 100%); /* IE10+ */
    background: linear-gradient(top, #e6b672 0%,#e6b571 7%,#dc8c4a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b672', endColorstr='#dc8c4a',GradientType=0 ); /* IE6-9 */
    border: 1px solid #B6735B;
    color: #661F0F;
}


