@charset "UTF-8";
/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */

html {
  margin:0;
  padding:0;
  border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
    display:block;
}

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float:none !important;
}
table, th, td {
  vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }

html { font-size:100.01%; }

h1 { font-size: 48px; line-height: 48px;}
h2 { font-size: 32px; line-height: 32px;}
h3 { font-size: 22px; line-height: 22px;}
h4 { font-size: 18px; line-height: 18px;}
h5 { font-size: 19px; line-height: 19px;}
h6 { font-size: 16px; line-height: 16px;}

p { margin: 0 0 24px; }
p .left     { margin: 24px 24px 24px 0; padding: 0; }
p .right    { margin: 24px 0 24px 24px; padding: 0; }

table         { width:100%; }
th            { font-weight: 700; }
th, td, caption { padding: 4px 10px 4px 5px; }

tbody tr:nth-child(even) td,
tbody tr.even td  {
  /*background: #e5ecf9;*/
}

.hide      { display: none; }

.first     { margin-left:0; padding-left:0; }
.last      { margin-right:0; padding-right:0; }
.top       { margin-top:0; padding-top:0; }
.bottom    { margin-bottom:0; padding-bottom:0; }
ul.disc-style li { list-style-type: disc; }
ol li, ul li { list-style-type: none; }
.button {
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
	text-transform:uppercase;
	font-weight: bold;
	margin: 0 2px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	vertical-align: baseline;
	padding: 6px 6px;
	font-weight: 700;
}

a.button:hover {
	text-decoration: none !important;
}

.button-toggle {
	border-top: 1px solid #aaa;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 9px;
	left: 4px;
	width: 146px;
	padding: 6px 16px;
	background-color: #FFF;
	color: #DA7A53;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	background: -moz-linear-gradient(top, #FBFDFD, #DCE8E8);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FBFDFD), to(#DCE8E8));
	float: left;
	cursor: pointer;
}

.not-clickable.button-toggle:hover {
	background: -moz-linear-gradient(top, #FBFDFD, #DCE8E8);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FBFDFD), to(#DCE8E8));
}

.button-toggle:hover {
	background: -moz-linear-gradient(#DCE8E8, #FBFDFD);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#DCE8E8), to(#FBFDFD));
}

.button-toggle.pressed {
	background: transparent;
	color: #7B8D8F;
	-moz-box-shadow: inset 3px -3px 7px -5px #434646;
	-webkit-box-shadow: inset 3px -3px 7px -5px #434646;
}

.button-toggle.left-button {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.button-toggle.left-button.pressed {
	border-left: 1px solid #ABB9B6;
	border-bottom: 1px solid #ABB9B6;
}

.button-toggle.right-button.pressed {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.button-toggle.right-button {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.button-toggle-wrapper {
	padding: 20px 0px 20px 0px;
	width: 297px;
	overflow: hidden;
}

.button-toggle-shadow {
	border-radius: 8px;
	background: #fff;
	height: 28px;
	width: 290px;
	top: -27px;
	left: 5px;
	position: relative;
	z-index:-1;
}

.button.green, .button.green:hover {
	background: #bcd900; /* Old browsers */
	background: -moz-linear-gradient(top, #bcd900 0%, #95cc00 50%, #709d00 95%, #95cc00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcd900), color-stop(50%,#95cc00), color-stop(95%,#709d00), color-stop(100%,#95cc00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bcd900 0%,#95cc00 50%,#709d00 95%,#95cc00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bcd900 0%,#95cc00 50%,#709d00 95%,#95cc00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bcd900 0%,#95cc00 50%,#709d00 95%,#95cc00 100%); /* IE10+ */
	background: linear-gradient(top, #bcd900 0%,#95cc00 50%,#709d00 95%,#95cc00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd900', endColorstr='#95cc00',GradientType=0 ); /* IE6-9 */
	border: 0px;
	color: #334D00;
}

.button.light-green {
	background: #a7ca24; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7ca24 0%, #94b618 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7ca24), color-stop(100%,#94b618)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7ca24 0%,#94b618 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7ca24 0%,#94b618 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7ca24 0%,#94b618 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7ca24 0%,#94b618 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7ca24', endColorstr='#94b618',GradientType=0 ); /* IE6-9 */
	border: 0px;
	color: #ffffff;
	text-shadow: none;
	box-shadow: none;
}

.button.orange {
	background: #E1A15E;
	background: #e6b672; /* Old browsers */
	background: -moz-linear-gradient(top, #e6b672 0%, #d97f3e 50%, #b35433 95%, #d97f3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6b672), color-stop(50%,#d97f3e), color-stop(95%,#b35433), color-stop(100%,#d97f3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6b672 0%,#d97f3e 50%,#b35433 95%,#d97f3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6b672 0%,#d97f3e 50%,#b35433 95%,#d97f3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6b672 0%,#d97f3e 50%,#b35433 95%,#d97f3e 100%); /* IE10+ */
	background: linear-gradient(top, #e6b672 0%,#d97f3e 50%,#b35433 95%,#d97f3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b672', endColorstr='#d97f3e',GradientType=0 ); /* IE6-9 */
	border: 0px;
	color: #661F0F;
	display: inline-block;
}

.button.gray {
	background: #7B8D8F;
	background: -moz-linear-gradient(top, #FFF, #ABB9B6);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#ABB9B6));
	border: 0px solid #ABB9B6;
	box-shadow: none;
	border-bottom: 2px solid #7B8D8F;
	color: #7B8D8F;
}


.button.white {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f7f7 49%, #e4ebeb 92%, #e8efef 95%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f3f7f7), color-stop(92%,#e4ebeb), color-stop(95%,#e8efef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f7f7 49%,#e4ebeb 92%,#e8efef 95%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f3f7f7 49%,#e4ebeb 92%,#e8efef 95%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f7f7 49%,#e4ebeb 92%,#e8efef 95%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f3f7f7 49%,#e4ebeb 92%,#e8efef 95%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: 0;
	color: #667D80;
}

.button.red {
	background: #e60000; /* Old browsers */
	background: -moz-linear-gradient(top, #e60000 0%, #cb0000 49%, #9b0000 92%, #a80000 95%, #e60000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e60000), color-stop(49%,#cb0000), color-stop(92%,#9b0000), color-stop(95%,#a80000), color-stop(100%,#e60000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e60000 0%,#cb0000 49%,#9b0000 92%,#a80000 95%,#e60000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e60000 0%,#cb0000 49%,#9b0000 92%,#a80000 95%,#e60000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e60000 0%,#cb0000 49%,#9b0000 92%,#a80000 95%,#e60000 100%); /* IE10+ */
	background: linear-gradient(top, #e60000 0%,#cb0000 49%,#9b0000 92%,#a80000 95%,#e60000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60000', endColorstr='#e60000',GradientType=0 ); /* IE6-9 */
	border: 0px;
	color: #500000;
	text-shadow: 0 1px rgba(222, 0, 0, 0.7);
}

.button.black {
	background: #6c6c6c; /* Old browsers */
	background: -moz-linear-gradient(top,  #6c6c6c 0%, #6c6c6c 3%, #505050 36%, #444444 54%, #3c3c3c 85%, #383838 92%, #464646 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(3%,#6c6c6c), color-stop(36%,#505050), color-stop(54%,#444444), color-stop(85%,#3c3c3c), color-stop(92%,#383838), color-stop(100%,#464646)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6c6c6c 0%,#6c6c6c 3%,#505050 36%,#444444 54%,#3c3c3c 85%,#383838 92%,#464646 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6c6c6c 0%,#6c6c6c 3%,#505050 36%,#444444 54%,#3c3c3c 85%,#383838 92%,#464646 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6c6c6c 0%,#6c6c6c 3%,#505050 36%,#444444 54%,#3c3c3c 85%,#383838 92%,#464646 100%); /* IE10+ */
	background: linear-gradient(top,  #6c6c6c 0%,#6c6c6c 3%,#505050 36%,#444444 54%,#3c3c3c 85%,#383838 92%,#464646 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#464646',GradientType=0 ); /* IE6-9 */
	border: 0px;
	color: #222222;
	text-shadow: 0 1px rgba(222, 222, 222, 0.2);
}

.button.black:hover {
	background: #464646; /* Old browsers */
	background: -moz-linear-gradient(top,  #464646 0%, #383838 0%, #3c3c3c 15%, #444444 46%, #505050 64%, #6c6c6c 97%, #6c6c6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(0%,#383838), color-stop(15%,#3c3c3c), color-stop(46%,#444444), color-stop(64%,#505050), color-stop(97%,#6c6c6c), color-stop(100%,#6c6c6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #464646 0%,#383838 0%,#3c3c3c 15%,#444444 46%,#505050 64%,#6c6c6c 97%,#6c6c6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #464646 0%,#383838 0%,#3c3c3c 15%,#444444 46%,#505050 64%,#6c6c6c 97%,#6c6c6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #464646 0%,#383838 0%,#3c3c3c 15%,#444444 46%,#505050 64%,#6c6c6c 97%,#6c6c6c 100%); /* IE10+ */
	background: linear-gradient(top,  #464646 0%,#383838 0%,#3c3c3c 15%,#444444 46%,#505050 64%,#6c6c6c 97%,#6c6c6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#6c6c6c',GradientType=0 ); /* IE6-9 */
}

.button.red:hover {
	background: #e60000; /* Old browsers */
	background: -moz-linear-gradient(top, #e60000 0%, #a80000 5%, #9b0000 8%, #cb0000 51%, #e60000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e60000), color-stop(5%,#a80000), color-stop(8%,#9b0000), color-stop(51%,#cb0000), color-stop(100%,#e60000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e60000 0%,#a80000 5%,#9b0000 8%,#cb0000 51%,#e60000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e60000 0%,#a80000 5%,#9b0000 8%,#cb0000 51%,#e60000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e60000 0%,#a80000 5%,#9b0000 8%,#cb0000 51%,#e60000 100%); /* IE10+ */
	background: linear-gradient(top, #e60000 0%,#a80000 5%,#9b0000 8%,#cb0000 51%,#e60000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60000', endColorstr='#e60000',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px rgba(222, 0, 0, 0.7);
}

.button.orange:hover {
	background: #d97f3e; /* Old browsers */
	background: -moz-linear-gradient(top, #d97f3e 0%, #b35433 50%, #d97f3e 95%, #e6b672 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d97f3e), color-stop(50%,#b35433), color-stop(95%,#d97f3e), color-stop(100%,#e6b672)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d97f3e 0%,#b35433 50%,#d97f3e 95%,#e6b672 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d97f3e 0%,#b35433 50%,#d97f3e 95%,#e6b672 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d97f3e 0%,#b35433 50%,#d97f3e 95%,#e6b672 100%); /* IE10+ */
	background: linear-gradient(top, #d97f3e 0%,#b35433 50%,#d97f3e 95%,#e6b672 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d97f3e', endColorstr='#e6b672',GradientType=0 ); /* IE6-9 */
	color: #661F0F;
}

.button.green:hover {
	background: #95cc00; /* Old browsers */
	background: -moz-linear-gradient(top, #95cc00 0%, #709d00 50%, #95cc00 95%, #bcd900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95cc00), color-stop(50%,#709d00), color-stop(95%,#95cc00), color-stop(100%,#bcd900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #95cc00 0%,#709d00 50%,#95cc00 95%,#bcd900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #95cc00 0%,#709d00 50%,#95cc00 95%,#bcd900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #95cc00 0%,#709d00 50%,#95cc00 95%,#bcd900 100%); /* IE10+ */
	background: linear-gradient(top, #95cc00 0%,#709d00 50%,#95cc00 95%,#bcd900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95cc00', endColorstr='#bcd900',GradientType=0 ); /* IE6-9 */
}

.button.light-green:hover {
	background: #94b618; /* Old browsers */
	background: -moz-linear-gradient(top,  #94b618 0%, #a7ca24 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94b618), color-stop(100%,#a7ca24)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #94b618 0%,#a7ca24 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #94b618 0%,#a7ca24 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #94b618 0%,#a7ca24 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #94b618 0%,#a7ca24 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94b618', endColorstr='#a7ca24',GradientType=0 ); /* IE6-9 */
	border: 0px;
	color: #ffffff;
	text-shadow: none;
	box-shadow: none;
}

.button.white:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e8efef 0%, #e4ebeb 8%, #f3f7f7 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#e8efef), color-stop(8%,#e4ebeb), color-stop(51%,#f3f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e8efef 0%,#e4ebeb 8%,#f3f7f7 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e8efef 0%,#e4ebeb 8%,#f3f7f7 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e8efef 0%,#e4ebeb 8%,#f3f7f7 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#e8efef 0%,#e4ebeb 8%,#f3f7f7 51%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.button.orange:hover {
	background: -moz-linear-gradient(top, #B75834, #E1A15E);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#B75834), to(#E1A15E));
}

.button.gray:hover {
	background: -moz-linear-gradient(top, #ABB9B6, #FFF);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ABB9B6), to(#FFF));
}

.button.fb-blue {
	background-color: #6083be;
	background: -moz-linear-gradient(top,  #6083be 0%, #5678b5 31%, #4162a6 72%, #38589d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6083be), color-stop(31%,#5678b5), color-stop(72%,#4162a6), color-stop(100%,#38589d));
	backgroundr: -webkit-linear-gradient(top,  #6083be 0%,#5678b5 31%,#4162a6 72%,#38589d 100%);
	background: -o-linear-gradient(top,  #6083be 0%,#5678b5 31%,#4162a6 72%,#38589d 100%);
	background: -ms-linear-gradient(top,  #6083be 0%,#5678b5 31%,#4162a6 72%,#38589d 100%);
	background: linear-gradient(to bottom,  #6083be 0%,#5678b5 31%,#4162a6 72%,#38589d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6083be', endColorstr='#38589d',GradientType=0 );
	color: #fff !important;
	text-shadow: none;
}

.button.fb-blue:hover {
	background-color: #38589d;
	background: -moz-linear-gradient(top,  #38589d 0%, #4162a6 28%, #5678b5 69%, #6083be 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38589d), color-stop(28%,#4162a6), color-stop(69%,#5678b5), color-stop(100%,#6083be));
	background: -webkit-linear-gradient(top,  #38589d 0%,#4162a6 28%,#5678b5 69%,#6083be 100%);
	background: -o-linear-gradient(top,  #38589d 0%,#4162a6 28%,#5678b5 69%,#6083be 100%);
	background: -ms-linear-gradient(top,  #38589d 0%,#4162a6 28%,#5678b5 69%,#6083be 100%);
	background: linear-gradient(to bottom,  #38589d 0%,#4162a6 28%,#5678b5 69%,#6083be 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38589d', endColorstr='#6083be',GradientType=0 );
}

.button.twitter-blue {
	background: #67aed1;
	background: -moz-linear-gradient(top,  #67aed1 0%, #61a6cb 22%, #488bb8 81%, #4285b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67aed1), color-stop(22%,#61a6cb), color-stop(81%,#488bb8), color-stop(100%,#4285b4));
	background: -webkit-linear-gradient(top,  #67aed1 0%,#61a6cb 22%,#488bb8 81%,#4285b4 100%);
	background: -o-linear-gradient(top,  #67aed1 0%,#61a6cb 22%,#488bb8 81%,#4285b4 100%);
	background: -ms-linear-gradient(top,  #67aed1 0%,#61a6cb 22%,#488bb8 81%,#4285b4 100%);
	background: linear-gradient(to bottom,  #67aed1 0%,#61a6cb 22%,#488bb8 81%,#4285b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67aed1', endColorstr='#4285b4',GradientType=0 );
	color: #fff !important;
	text-shadow: none;
}

.button.twitter-blue:hover {
	background: #4285b4;
	background: -moz-linear-gradient(top,  #4285b4 0%, #488bb8 19%, #61a6cb 78%, #67aed1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4285b4), color-stop(19%,#488bb8), color-stop(78%,#61a6cb), color-stop(100%,#67aed1));
	background: -webkit-linear-gradient(top,  #4285b4 0%,#488bb8 19%,#61a6cb 78%,#67aed1 100%);
	background: -o-linear-gradient(top,  #4285b4 0%,#488bb8 19%,#61a6cb 78%,#67aed1 100%);
	background: -ms-linear-gradient(top,  #4285b4 0%,#488bb8 19%,#61a6cb 78%,#67aed1 100%);
	background: linear-gradient(to bottom,  #4285b4 0%,#488bb8 19%,#61a6cb 78%,#67aed1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4285b4', endColorstr='#67aed1',GradientType=0 );
}

.button.disabled, .button.disabled:hover {
	background: #d8e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #d8e2e2 0%, #d1dbdb 51%, #c4cece 89%, #c6d0d0 92%, #cfd9d9 97%, #d0d9d9 98%, #c3c6c6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e2e2), color-stop(51%,#d1dbdb), color-stop(89%,#c4cece), color-stop(92%,#c6d0d0), color-stop(97%,#cfd9d9), color-stop(98%,#d0d9d9), color-stop(100%,#c3c6c6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d8e2e2 0%,#d1dbdb 51%,#c4cece 89%,#c6d0d0 92%,#cfd9d9 97%,#d0d9d9 98%,#c3c6c6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d8e2e2 0%,#d1dbdb 51%,#c4cece 89%,#c6d0d0 92%,#cfd9d9 97%,#d0d9d9 98%,#c3c6c6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d8e2e2 0%,#d1dbdb 51%,#c4cece 89%,#c6d0d0 92%,#cfd9d9 97%,#d0d9d9 98%,#c3c6c6 100%); /* IE10+ */
	background: linear-gradient(top, #d8e2e2 0%,#d1dbdb 51%,#c4cece 89%,#c6d0d0 92%,#cfd9d9 97%,#d0d9d9 98%,#c3c6c6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e2e2', endColorstr='#c3c6c6',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	border: 0px;
	color: #ADB7B7 !important;
}

.button.big {
	font-weight: 700;
	padding: 11px 18px;
	font-size: 13px;
	margin: 0 0 0 5px;
}


.button.biggest {
	font-weight: 700;
	padding: 12px 28px;
	font-size: 16px;
	margin: 0 10px;
}

.button.big.l {
	margin: 0 10px 0 0px;
}

.button.middle {
	font-size: 13px;
	border-radius: 4px;
	padding: 5px 26px;
}

.button.small {
	font-size: 60%;
	border-radius: 4px;
	padding: 3px 15px;
}

.button.dashboard-calculator {
	font-size: 13px;
	border-radius: 4px;
	padding: 5px 16px;
}

.button.glow {
	box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.5),
	0 1px 1px rgba(0, 0, 0, 0.7);
}

.button.gray.middle {
	font-size: 80%;
	margin: 0 20px;
	padding: 4px 40px;
}

.button-gray-off {
	cursor: pointer;
	border-radius: 9px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
	color: #7B8D8F;
	font-weight: bold;
	padding: 3px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 70%;
	height: 22px;
	width: 52px;
}

.field label {
	font-size: 13px;
	color: #224559;
	display: block;
	padding: 0 8px;
	font-weight: 700;
}

.field input, .field select, .field textarea {
	border: 1px solid #C6C4B3;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 7px 8px;
	font-size: 13px;
}

.fieldSB input,  .field textarea {
	border: 1px solid #C7CFDE;
	padding: 0px 8px;
	font-size: 18px;
	height: 37px;
}

.forname{
	border: 1px solid #C6C4B3;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	padding: 7px 8px;
	font-size: 17px;
	width: 550px;
	color: #203D4C;
}

.curr{
	border: 1px solid #C6C4B3;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	padding: 7px 8px;
	font-size: 13px;
	width: 240px;
	color: #203D4C;
}

.scode{
	border: 1px solid #C6C4B3;
	padding: 7px 8px;
	font-size: 17px;
	width: 30px !important;
	color: #203D4C;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
}

.account-num{
	border: 1px solid #C6C4B3;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	padding: 7px 8px;
	font-size: 17px;
	width: 150px;
	color: #203D4C;
}

.labels,
.add-recipient-form label {
	color: #8CA4A5;
	font-size: 13px;
	line-height: 13px;
	padding-bottom: 5px;
	padding-top: 10px;
}

.czechLocalAccount {
	width: 270px;
}

.czechlocal {
	float: left;
	padding-left: 5px;
}

.width20{
	width: 20% !important;
}

.width70{
	width: 69% !important;
}

.invite-title {
	font-size: 16px;
	color: #667D80;
	font-weight: 600;
	padding: 10px 0;
}

.ivite-par {
	font-size: 13px;
	color: #8DA4A6;
	font-weight: 500;
	margin-bottom: 0px;
}

.ivite-priority-par {
	font-size: 14px;
	color: #8DA4A6;
	font-weight: 500;
}

.ivite-par a {
	color: #8DA4A6;
}

.white{
	background-color: white;
}

.errorName{
	/*background: #FFF3F3;*/
	border: 1px solid red;
	/*margin: 10px 25px 15px -1px;*/
	padding: 5px 5px 5px 5px;
	width: 75%;
	color: #C00;
	font-size: 11px;
	padding-bottom: 5px;
	width: 268px;
}

.errorCode{
	/*background: #FFF3F3;*/
	border: 1px solid red;
	/*margin: 10px 25px 15px -1px;*/
	padding: 5px 5px 5px 5px;
	width: 75%;
	color: #C00;
	font-size: 11px;
	padding-bottom: 5px;
	/*width: 268px;*/
}

.noblock{
	display: inline;
}

.select{
	width: 270px;
	border-radius:0px !important;
}

.field input[type="text"], .field input[type="email"], .field select, .field textarea {
	width: 85%;
}

.fieldSB input[type="text"], .field select, .field textarea {
	width: 74%;
}

.field textarea {
	width: 85%;
}

input[type="file"] {
	border: 0px;
}

input.disabled, textarea.disabled, select.disabled {
	color: #98A3A5 !important;
}

select {
	background-color: #FFF;
}

div.errors {
	background: #FFF3F3;
	border: 1px solid red;
	color: #C00;
	margin: 10px 0 15px 0;
	padding: 5px 0 5px 0;
}

div.errors li {
	background: url(images/common/exclamation.png) 8px 0 no-repeat;
	line-height: 16px;
	padding-left: 30px;
	color: #C00;
}

div.message {
	background: #F6FAE0;
	color: #4C7200;
	margin: 10px 0 5px 0;
	padding: 15px 15px;
}

div.message.stamp {
	padding: 0;
	margin: 10px 20px;
}

div.message-wrapper {
	position: relative;
}

div.message-wrapper .message-stamp {
	background: url("images/stamp-message.png") no-repeat;
	width: 71px;
	height: 95px;
	position: absolute;
	top: 0;
	right: 20px;
}

a.button.map {
	background:#DAE6E4 url("images/index/button-img-1.png") no-repeat 13px 6px;
	box-shadow: none;
	text-shadow: 0 2px rgba(255, 255, 255, 1);
	padding: 10px 10px 10px 35px;
	font-size: 11px;
	color: #333;
	opacity: 0.65;
	filter: alpha(opacity=65);
	line-height:32px;
	width: 170px;
	height: 26px;
	border: 1px solid #8da4a6;
	box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
}


a.button.map.customer {
	background: #DAE6E4 url("images/index/button-img-2.png") no-repeat 13px 6px;
}
@font-face {
	font-family:"ff-meta-web-pro";
	src: url("../fonts/MetaWeb-Book.woff") format('woff');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family:"ff-meta-web-pro";
	src: url("../fonts/MetaWeb-Medium.woff") format('woff');
	font-style: normal;
	font-weight: 600;
}
body {
	background-color: #fff;
	min-width: 960px;
	font-family: "ff-meta-web-pro", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	clear: both;
}
a, input, textarea {
	font-family: "ff-meta-web-pro", sans-serif;
}

.container, .cnt {
	margin: 0 auto;
	max-width: 960px;
}

a, a:hover {
	color: #224559;
}

table, th, td {
	vertical-align: top;
}

.u {
	text-decoration: underline;
}

.b {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.ar {
	text-align: right;
}

.ac {
	text-align: center;
}

.relative {
	position: relative;
}
.overflow-hidden {
	overflow: hidden;
}

text-transform-none {
	text-transform: none !important;
}

.no-border {
	border: none !important;
}

.no-b-bottom {
	border-bottom: none !important;
}

.no-b-top {
	border-top: none !important;
}

.no-b-right {
	border-right: none !important;
}

.styled-body {
    background: -moz-linear-gradient(center top, #E4ECEC, #FFFFFF 400px) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0 0, 0 400, from(#E4ECEC), to(white));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E4ECEC, endColorstr=#FFFFFF);
    padding-bottom: 50px;
	padding-top: 1px;
}

.panel {
	background: rgb(248, 249, 249);
    background: rgba(248, 249, 249, 0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66F8F9F9, endColorstr=#66F8F9F9)";
	background-repeat: no-repeat;
    border-radius: 7px;
    box-shadow: 0 7px 7px 7px rgba(100, 100, 100, 0.2);
    padding: 15px;
	color: #667D80;
	position: relative;
}

.panelSU {
	padding: 15px;
	color: #667D80;
	position: relative;
}

.panel.payment {
    box-shadow: 0 7px 7px 7px rgba(100, 100, 100, 0.3);
}

.panel p {
    color: #667D80;
}

.panel.admin {
	border:  1px solid red;
}

.panel h3 {
    text-transform: uppercase;
    color: #667d80;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0 2px;
}

.panel hr {
    height: 2px;
    border-top: 2px solid #DCE0E0;
    border-bottom: 2px solid #fff;
    border-left: 0px;
    border-right: 0px;
	margin: 4px 0px;
}

.panel hr.thin {
	height: 0px;
	border-top: 1px solid #DAE6E6;
	border-bottom: 1px solid #fff;
	border-left: 0px;
	border-right: 0px;
}

.top0 {
    padding-top: 0 !important;
}

.top1 {
    padding-top: 1px !important;
}

.top3 {
    padding-top: 3px !important;
}

.top5 {
    padding-top: 5px;
}

.top8 {
    padding-top: 8px;
}

.top10 {
    padding-top: 10px;
}

.top15 {
    padding-top: 15px;
}

.top20 {
    padding-top: 20px;
}

.top40 {
    padding-top: 40px;
}

.top45 {
	padding-top: 45px;
}

.top60 {
	padding-top: 60px;
}

.top37 {
    padding-top: 37px;
}

.mtop-10 {
	margin-top: -10px;
}

.mtop0 {
	margin-top: 0;
}

.mtop5 {
	margin-top: 5px;
}

.mtop10 {
    margin-top: 10px;
}

.mtop11 {
	margin-top: 10px !important;
}

.mtop15 {
	margin-top: 15px;
}

.mtop20 {
    margin-top: 20px;
}

.mtop23 {
	margin-top: 23px;
}

.mtop25 {
	margin-top: 25px;
}

.mtop30 {
    margin-top: 30px;
}

.mtop35 {
	margin-top: 35px !important;
}

.mtop40 {
	margin-top: 40px;
}

.mtop55 {
	margin-top: 55px;
}

.mtop190 {
	margin-top: 190px;
}

.mtop-20 {
	margin-top: -20px;
}

.mtop-30 {
    margin-top: -30px;
}

.left10 {
	padding-left: 10px;
}

.left7 {
    padding-left: 7px;
}

.left15 {
	padding-left: 15px;
}

.mleft0 {
	margin-left: 0px !important;
}

.mleft5 {
	margin-left: 5px;
}

.mleft10 {
	margin-left: 10px;
}

.mleft12 {
	margin-left: 12px;
}

.mleft15 {
	margin-left: 15px;
}

.mleft20 {
	margin-left: 20px;
}

.mleft25 {
	margin-left: 25px;
}

.mleft30 {
	margin-left: 30px;
}

.mleft40 {
	margin-left: 40px;
}

.mleft45 {
	margin-left: 45px;
}

.mright45 {
	margin-right: 45px;
}

.mleft-50 {
	margin-left: -50px;
}

.mleft-10 {
	margin-left: -10px;
}

.mright1 {
	margin-right: 1px;
}

.mright10 {
	margin-right: 10px;
}

.mright15 {
	margin-right: 15px;
}

.mright20 {
	margin-right: 20px;
}

.mright25 {
	margin-right: 25px !important;
}

.mright40 {
	margin-right: 40px;
}

.mright-130 {
	margin-right: -130px !important;
}

.left5 {
	padding-left: 5px;
}

.left15 {
	padding-left: 15px;
}

.left20{
	padding-left: 20px;
}

.left25{
	padding-left: 25px;
}

.left30{
	padding-left: 30px !important;
}

.left35 {
	padding-left: 35px;
}

.left23 {
	padding-left: 23px !important;
}

.left55 {
	padding-left: 55px;
}

.left60 {
	padding-left: 60px;
}

.left70 {
	padding-left: 70px;
}

.left75 {
	padding-left: 75px;
}

.left80 {
	padding-left: 80px;
}

.left90 {
	padding-left: 90px;
}

.left5 {
	padding-left: 5px;
}

.right20 {
	padding-right: 20px;
}

.top15 {
    padding-top: 15px;
}

.top25 {
    padding-top: 25px;
}

.top30 {
    padding-top: 30px;
}

.top35 {
	padding-top: 35px;
}

.top50 {
    padding-top: 50px;
}

.top100 {
    padding-top: 100px;
}

.top110 {
	padding-top: 110px;
}

.top150 {
    padding-top: 150px;
}

.bot0 {
	padding-bottom: 0px !important;
}

.bot10 {
    padding-bottom: 10px;
}

.bot15 {
    padding-bottom: 15px;
}

.bot20 {
    padding-bottom: 20px;
}

.bot35 {
	padding-bottom: 35px;
}

.bot60 {
	padding-bottom: 60px;
}

.mbot0 {
	margin-bottom: 0px;
}

.mbot5 {
	margin-bottom: 5px;
}

.mbot10 {
    margin-bottom: 10px !important;
}

.mbot15 {
    margin-bottom: 15px;
}

.mbot20 {
    margin-bottom: 20px;
}

.mbot25 {
    margin-bottom: 25px;
}

.bot30 {
    padding-bottom: 30px;
}

.mbot30 {
    margin-bottom: 30px;
}

.mbot35 {
	margin-bottom: 35px;
}

.mbot40 {
	margin-bottom: 40px;
}

.bot50 {
    padding-bottom: 50px;
}

.right0 {
	padding-right: 0px !important;
}

.right5 {
	padding-right: 5px;
}

.right10 {
    padding-right: 10px;
}

.right20 {
    padding-right: 20px;
}

.right24 {
    padding-right: 24px;
}

.right25 {
	padding-right: 25px;
}

.right30 {
	padding-right: 30px;
}

.right80 {
	padding-right: 80px;
}


.right120 {
	padding-right: 120px;
}

.col25 {
    width: 25%;
    float: left;
}

.col30 {
    width: 30%;
    float: left;
}

.col29 {
	width: 29%;
	float: left;
}

.col35 {
    width: 35%;
    float: left;
}

.col50 {
    width: 50%;
    line-height: 20px;
    float: left;
}

.col40 {
	width: 40%;
    float: left;
}

.col44 {
	width: 44%;
	float: left;
}

.col45 {
	width: 45%;
	float: left;
}

.col55 {
	width: 55%;
	float: left;
}

.col60 {
	width: 60%;
    float: left;
}

.col65 {
	width: 65%;
	float: left;
}

.col70 {
    width: 70%;
    float: left;
}
.col69 {
    width: 69%;
    float: left;
}
.col75 {
    width: 75%;
    float: left;
}

.col72 {
	width: 72%;
	float: left;
}

.col71 {
	width: 71%;
	float: left;
}

.col28 {
	width: 28%;
	float: left;
}

.dark-blue {
    color: #224559;
}

.medium-dark-blue {
	color: #25566e;
}

.dark-grey {
    color: #667d80;
}

.black {
	color: #000000;
}

.clear {
    clear: both;
}

.clear.small {
	height: 10px;
}

.clear.medium {
	height: 30px;
}

.clear.high {
	height: 50px;
}

.left {
	float: left;
}

.right {
	float: right !important;
}

h3 {
    font-weight: 600;
    line-height: 22px;
    font-size: 24px;
    color: #709D00;
	margin:  10px 0px;
}
h3 .small {
	font-size: 16px;
}

h4 {
    font-weight: 600;
    line-height: 22px;
    margin:  10px 0px;
	color: #667D80;
}

h1 {
    font-size: 48px;
    color: #172a33;
    padding-top: 40px;
    text-shadow: 0 3px #FFFFFF;
    font-weight: 700;
}

hr {
    background-color: #dae6e6;
    border: 0px;
    height: 5px;
	margin: 17px 0px;
}

hr.small {
	border: 0px;
	height: 1px;
	background: #DAE6E6
}

input.readonly, textarea.readonly {
	color: gray !important;
	background-color: #f5f5f5 !important;
	cursor: not-allowed;
}

.progress-overlap {
	width: 100%;
	height: 100%;
	background: rgba(199, 207, 222, 0.5) url("images/ajax-loader.gif") center no-repeat;
	position: absolute;
	z-index: 500;
}

ul li {
    list-style: none;
}

.tline {
    border-top: 1px solid #DAE6E6;
}

.bline {
    border-bottom: 1px solid #DAE6E6;
}

.inline {
    display: inline !important;
}

.inline-block {
	display: inline-block !important;
}

ul.inline-list {
	list-style: none;
}

ul.inline-list li {
	float: left;
	padding-right: 20px;
}

ul.decimal li,  ol.decimal li {
	list-style:  decimal;
}

ul.circle li,  ol.circle li {
	list-style-type: disc;
	margin: 0px 0px 10px 20px;
}

.sidebar ul.circle.update li {
	padding-bottom: 0;
	color: #667D80;
	border-bottom: none;
	border-top: none;
}

li p.note, p.note {
    color: #8DA4A6;
    width: 100%;
    margin: 2px 0;
    font-size: 12px;
}

li p.note a, p.note a {
    color: #667D80;
}

p.note.small-link a {
    font-size: 12px;
}

.sidebar-block h3 {
    font-size: 16px;
    color: #224559;
}

.sidebar ul li {
    border-bottom: 1px solid #dae6e6;
    border-top: 1px solid #fff;
	line-height: 14px;
	padding-bottom: 8px;
}

.sidebar a {
    text-decoration: underline;
    color: #667D80;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
}

.sidebar .note a {
    font-size: 13px;
}

.sidebar a.footer-link {
    color: #8da4a6;
    font-size: 15px;
    display: block;
    font-weight: 500;
    padding-top: 10px;
}


.sidebar ul.no-border li {
    border: 0 none;
}

.pagination {
    color: #667D80;
}

.pagination .step,
.pagination .prevLink,
.pagination .nextLink,
.pagination .currentStep {
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #DAE6E6;
    color: #667D80;
    padding: 8px 15px;
    margin-right: 3px;
    float: left;
}

.pagination .currentStep {
    color: #224559;
}

.pagination .prevLink:before {
    content: "« ";
}

.pagination .nextLink:after {
    content: " »";
}

p, li {
    color: #172a33;
}

.side-panel h3, .wrapper h3 {
	color: #224559;
    font-size: 16px;
}

div.side-panel, div.side-panel p, .side-panel ul li a, .side-panel ul li {
	color: #667D80;
	line-height: 1.5;
	font-size:  13px;
}

ul.submenu {
	margin-top: 48px;
}

.submenu li {
    list-style: none;
	float: left;
}
.submenu li a, .submenu li span {
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 13px;
	text-decoration: none;
	line-height: 30px;
	color: #224559;
}

.submenu li a.active , .submenu li span.active {
	color: #667d80;
}

.submenu li a.active {
	border-radius: 6px;
	background-color: #dae6e6;
}

.dblock {
    display: block;
}

.panel ul li a.active {
    background-color: #DAE6E6;
    padding: 0px 6px;
    margin-left: -6px;
    border-radius: 6px 6px 6px 6px;
    color: #667D80;
}

.comments .comment-item .body pre {
	white-space: pre-wrap;
}

.important-note {
	padding: 15px 20px;
	color: #FF7E02;
	border: 1px solid #FF7E02;
	background-color: #FEF1E5;
	font-weight: 600;
}

.important-note a {
	color: #FF7E02 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

.height20 {
	height: 20px;
}

.height50 {
	height: 50px !important;
}

.height170 {
	height: 170px
}

.height130 {
	height: 130px !important;
}

.height500 {
	height: 500px
}

.w100 {
	width: 100px !important;
}

.width75 {
	width: 75%;
}

.width100 {
	width: 100%;
}

.width110 {
	width: 110px !important;
}

.width160 {
	width: 160px !important;
}

.width134 {
	width: 134px
}

.width150 {
	width: 150px !important;
}

.width265 {
	width: 265px;
}

.width270 {
	width: 270px !important;
}

.width280 {
	width: 280px;
}

.width300 {
	width: 300px !important;
}

.width305 {
	width: 305px !important;
}

.width338 {
	width: 338px !important;
}

.width350 {
	width: 350px !important;
}

.width360 {
	width: 360px;
}

.width400 {
	width: 400px !important;
}

.width450 {
	width: 450px !important;
}

.width475 {
	width: 475px !important;
}

.width501 {
	width: 501px;
}

.width500 {
	width: 500px !important;
}

tr.td-top20 td {
	padding-top: 20px;
}

.pointer {
    cursor: pointer;
}

.admin-content {
    padding: 20px 0px;
    overflow: hidden;
}

.red {
	color: #CC0000;
}

.green {
	color: #709D00;
}

.admin-link {
	color: #E6B672 !important;
}

.new-message {
	width: 930px;
	margin-top: 10px;
	padding: 7px 12px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 0px 0px rgba(155, 103, 57, 0.8);
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 0px 0px rgba(155, 103, 57, 0.8);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 0px 0px rgba(155, 103, 57, 0.8);
	text-shadow: 1px 1px 1px #754423;
	filter: dropshadow(color=#754423, offx=1, offy=1);
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.new-message a {
	color: #fff;
}

.new-message .action {
	font-size: 13px;
}

.new-message.orange {
	background-color: #DE9452;
}

.new-message.green {
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 0px 0px rgba(219, 223, 199, 0.8);
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 0px 0px rgba(219, 223, 199, 0.8);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 0px 0px rgba(219, 223, 199, 0.8);
	background-color: #F6FAE0;
	color: #709d00;
	text-shadow: none;
	filter: none;
	position: relative;
}

.new-message.green .text {
	padding: 10px 30px 10px 5px;
	font-size: 15px;
	font-weight: 500;
}

.new-message.green .link {
	margin-top: 17px;
}
.new-message.green .link a {
    font-size: 18px;
    color: #709d00;
    font-weight: bold;
}

.new-message.green .desc {
	line-height: 16px;
}

.new-message.green .icon.shield {
	background: url(images/payment/trial/shield.png) left no-repeat;
	float: left;
	width: 50px;
	height: 60px;
	margin: 0px 7px;
}

.new-message.green .title {
	font-size: 16px;
	font-weight: 700;
	color: #4c7200;
}

.new-message.green .cross {
	height: 18px;
	width: 19px;
	background: url(images/payment/trial/cross.png) right no-repeat;
	margin-top: 3px;
	border: none;
	padding-left: 10px;
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 8px;
}

.new-message .cross {
	height: 18px;
	width: 19px;
	background: url(images/payment/message_cross.png) right no-repeat;
	margin-top: 3px;
	border-left: 1px solid #B36935;
	padding-left: 5px;
	cursor: pointer;
}

.field .pp13{
	font-size: 13px;
	color: #8CA4A5;
}

.field .ppColor{
	color: #8CA4A5;
}

.pp13 a{
	color: #8CA4A5;
}

.font-size-18{
	font-size: 18px !important;
}

.bg-none {
	background: none !important;
}

.terms li {
	list-style-type: disc;
	color: #667D80;
}

input.empty {
	color: #AAAAAA !important;
}

textarea.empty {
	color: #AAAAAA !important;
}

.display-none {
	display: none !important;
}

.padding0 {
	padding: 0 !important;
}

.fs13 {
	font-size: 13px !important;
}

.messages {
	background: rgb(248, 249, 249);
	background: rgba(248, 249, 249, 0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66F8F9F9, endColorstr=#66F8F9F9)";
	background-repeat: no-repeat;
	border-radius: 7px;
	box-shadow: 0 7px 7px 7px rgba(100, 100, 100, 0.2);
	color: #667D80;
	min-height: 80px;
	margin-right: 6px; /* TODO remove upon refactoring of payment flow page where width is defined as 954px */
	position: relative;
}

.messages .header {
	height: 9px;
	border-radius: 7px 7px 0 0;
	border-bottom: 1px solid #DAE6E6;
}

.messages.warning  .header{
	background: url('images/messages/header_orange.png') repeat-x;
}

.messages.error .header {
	background: url('images/messages/header_red.png') repeat-x;
}

.messages.success .header {
	background: url('images/messages/header_green.png') repeat-x;
}

.messages .icon {
	margin: 15px 25px;
}

.messages.warning {
	background: url('images/messages/warning_icon.png') no-repeat 20px 30px;
}

.messages.error {
	background: url('images/messages/error_icon.png') no-repeat 20px 30px;
}

.messages.success {
	background: url('images/messages/success_icon.png') no-repeat 20px 30px;
}

.messages .text {
	font-size: 16px;
	padding: 20px 30px 15px 70px !important;
}

.messages .close,
.counter-parties-popup .close {
	background: url("images/messages/close_states.png") no-repeat 0px 0px ;
	height: 16px;
	width: 16px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 17px;
}

.messages .close:hover {
	background: url("images/messages/close_states.png") no-repeat -18px 0px;
}

.messages .close:active {
	background: url("images/messages/close_states.png") no-repeat -36px 0px;
}

.messages .subject {
	color: #13546E;
	font-size: 25px;
	font-weight: 500;
}

.messages .body {
	color: #667D80;
	font-weight: 600;
}

.invitesTextBlock {
	width: auto !important;
}

.newNotificationsCounter {
    border-radius: 8px;
    text-align: center;
    width: auto !important;
    height: 17px !important;
    line-height: 19px;
    padding: 0 5px;
    margin-top: 14px;
    background-color: #d97934;
    font-weight: 800;
    color:#153341;
    font-size: 80%;

    -webkit-box-shadow: 2px 2px 2px rgba(8, 26, 35, 0.75);
    -moz-box-shadow:    2px 2px 2px rgba(8, 26, 35, 0.75);
    box-shadow:         2px 2px 2px rgba(8, 26, 35, 0.75);

}

.strike-out {
	text-decoration: line-through;
}

.lh20 {
	line-height: 20px;
}


