@charset "UTF-8";
.panel.set-password, .dashboard .panel.set-password {
	background: url("images/dashboard/pass_keys_bg.png") top right no-repeat;
	background-color: rgba(248, 249, 249, 0.8);
	padding: 0;
}

.set-password #password,
.set-password #password2 {
	font-size: 20px;
	height: 26px;
	border-radius: 0;
	width: 300px;
}

.set-password label,
.set-password .account-link,
.set-password p.text {
	color: #8BA3A5;
}


.set-password .field {
	padding: 0;
	width: 440px;
}

.set-password label {
	display: block;
	font-size: 13px;
	margin-top: 12px;
	font-weight: 400;
	padding: 0px;
	float: left;
	width: 120px;
}

.set-password .form {
	width: 700px;
}

.set-password .account-link {
	text-align: right;
	padding-right: 70px;
	font-size: 13px;
	height: 20px;
}

.set-password .close {
	float: right;
	background: url("images/dashboard/pass_close_button.png") no-repeat;
	height: 18px;
	width: 17px;
}

.set-password .close:hover {
	background: url("images/dashboard/pass_close_button_hover.png") no-repeat;
}

.set-password .close:active {
	background: url("images/dashboard/pass_close_button_pressed.png") no-repeat;
}


.panel.set-password .title,
.dashboard .panel.set-password .title {
	margin: 0 0 10px 0;
	padding: 20px 0;
}

.panel.set-password h3,
.dashboard .panel.set-password h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: none;
}

.dashboard .set-password .title h3,
.set-password .title h3 {
	color: #172A33;
	padding-bottom: 0;
	width: 800px;
}

.set-password .key-small {
	padding-right: 10px;
	background: url("images/dashboard/pass_keys_icon.png") no-repeat;
	height: 18px;
	width: 20px;
}

.set-password p.text {
	font-size: 14px;
}

.set-password p.text strong {
	color: #667D80;
}

.set-password #googleOpenId,
.set-password #yahooOpenId {
	width: 153px;
	height: 42px;
	border: none;
	cursor: pointer;
}

.set-password #googleOpenId {
	background: url("images/dashboard/google.png") no-repeat;
}

.set-password #yahooOpenId {
	background: url("images/dashboard/yahoo.png") no-repeat;
}

.set-password .field.errors {
	background: none;
	border: 0;
	color: transparent;
	margin: 0;
}

.set-password .openid .field {
	width: 153px;
}

.set-password .mess_error {
	color: #CC0000;
	font-size: 11px;
	padding-bottom: 5px;
	width: 268px;
	padding-left: 120px;
}

.set-password .line.big {
	border-bottom: 5px solid #DCE0E0;
}

.set-password input.error {
	border: 1px solid #CC0000;
}

