@charset "UTF-8";
body {
    min-width: 100%;
    position: relative;
}

.dashboard.dashboard-common .panel .search.wide input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 30px;
    width: 100%;
}

.dashboard.dashboard-common .panel {
    border-radius: 0;
    box-shadow: none;
}

.dashboard.dashboard-common .panel.left {
    border-top: 1px solid #DCE0E0;
    width: 100%;
}

.dashboard.dashboard-common .no-payments {
    background: #fff url('images/dashboard/no-payments.png') 50% 50px no-repeat;
}

.dashboard.dashboard-common,
.dashboard.dashboard-common .top20 {
    padding-top: 0;
}

.dashboard .list .payment-row .mobile-wrap {
    float: none;
    width: auto;
}

.dashboard .transfers-footer .left {
    width: 100%;
    text-align: right;
    font-size: 14px;
}

.dashboard.dashboard-common .panel .search.wide input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 30px;
    width: 100%;
}

.dashboard.dashboard-common .recipients.right,
.dashboard.dashboard-common .calculation-details .results {
    width: 100%;
}

.dashboard.dashboard-common .recipients.bg-none {
    width: 94%;
    padding: 0 3%;
}

.dashboard.dashboard-common .counter-parties-widget,
.dashboard.dashboard-common .invite-title,
.dashboard.dashboard-common .ivite-par,
.dashboard.dashboard-common .recent-recipients {
    display: none;
}

.source.amount-cur-selector,
.target.amount-cur-selector {
    width: 100%;
}

.amount-cur-selector .cur-input-wrap {
    padding-right: 0;
	padding-left: 0;
	margin-right: 95px;
	right: 0;
	position: inherit;
}

.calculation-details .last-row .col-2 .big-number {
    display: none;
}

.indent-select-calc {
    display: block !important;
    -webkit-appearance: listbox !important;
    -moz-appearance: listbox !important;
    height: 38px !important;
    border: 0 !important;
    border-radius: 0;
    width: 135% !important;
    padding: 10px 0 10px 5px;
    background: transparent url("../images/cur-select-arrow.png") 57px 8px no-repeat !important;
}

.source.amount-cur-selector .cur,
.target.amount-cur-selector .cur {
    overflow-x: hidden;
    height: 38px !important;
}

.dashboard.dashboard-common .list .status {
     width: 240px;
}

.dashboard.dashboard-common .list .created {
    width: 118px;
}

.dashboard.dashboard-common .list .recipient {
    width: 192px;
}

.dashboard.dashboard-common  .wrap-selects {
    float: left;
    width: 48%;
}

.dashboard.dashboard-common .calculation-details {
    padding-top: 0;
}

.dashboard.dashboard-common .clear.width100,
.dashboard.dashboard-common .calculation-details,
.dashboard.dashboard-common .clear.make {
    float: right;
    width: 55%;
}

tr.block-mobile,
tr.block-mobile.block-desktop,
tr.block-mobile.block-tablet {
    display: table-row !important;
}

.dashboard .transfers-footer .left {
    font-size: 16px;
    text-align: left;
    width: auto;
}

.form-cur-exch .cur-input-label {
	float: none;
}

.amount-cur-selector input.cur-input {
	width: 205px;
}

.form-cur-exch .target.amount-cur-selector {
	top: 70px;
}

.form-cur-exch .amount-cur-selector {
	padding-top: 0;
}

.dashboard .list .payment-row:hover .menu {
	display: none !important;
}
.dashboard .list .payment-row:hover {
	width: auto !important;
}

