@charset "UTF-8";
.account .common-details .body {
	background-color: #fff;
	padding-left: 25px;
	padding-right: 25px;
}

.common-details label, .form .common-details a,
.form .form-left a {
	color: #8CA4A5;
	font-size: 13px;
	line-height: 13px;
	padding-bottom: 5px;
	padding-top: 10px;
	max-width: 260px;
}

.form .common-details .title a {
	color: #224559;
	font-size: 16px;
}

.common-details label {
	display: block;
}
.common-details label.inline, .common-details ul.inputList label {
	display: inline;
}

.common-details .bank input[type=radio] {
	margin: 0;
}
.form .common-details .body ul li {
	color: #8CA4A5;
}

.form input[type=text],
.form input[type=password],
.form input[type=email],
.form input[type=tel],
.form textarea {
	background-color: #FFFFFF;
	color: #203D4C;
	border: 1px solid #C6C4B3;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 28px;
	padding: 0px 5px;
	text-align: left;
	width: 78px;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(150,150,150,0.2);
	width: 260px;
}

.form textarea {
	padding: 5px 5px;
}

.payment textarea {
	padding: 5px;
}

.form input[type="text"]::-webkit-input-placeholder,
.form input[type="email"]::-webkit-input-placeholder,
.form input[type="tel"]::-webkit-input-placeholder,
.form input[type="password"]::-webkit-input-placeholder {
	color: #BBB;
	font-weight: 500;
}
.form input[type="text"]:-moz-placeholder,
.form input[type="email"]:-moz-placeholder,
.form input[type="tel"]:-moz-placeholder,
.form input[type="password"]:-moz-placeholder {
	color: #BBB;
	font-weight: 500;
}
.form input.empty {
	color: #BBB !important;
	font-weight: 500 !important;
}

.form input[type=file] {
	border: 0;
}

.form input[type=text]:focus,
.form input[type=password]:focus,
.form input[type=tel]:focus,
.form input[type=email]:focus,
.form textarea:focus {
	border-color: rgba(148, 185, 191, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(148, 185, 191, 0.6);
	outline: 0 none;
}

.form input[type=text].success,
.form input[type=password].success,
.form input[type=tel].success,
.form input[type=email].success,
.form textarea.success {
	background: #FDFFF2 url(images/payment/payment_form_success.png) right no-repeat;
}

.form input[type=text].error,
.form input[type=password].error,
.form input[type=tel].error,
.form input[type=email].error,
.form textarea.error {
	background: url(images/payment/payment_form_error.png) right no-repeat;
	border: 1px solid #cc0000;
	width: 230px !important;
	padding-right: 35px;
}

.form input[type=text].email-error,
.form input[type=email].email-error,
.form input[type=tel].email-error {
	background: url(images/payment/payment_form_error.png) right no-repeat;
	border: 1px solid #cc0000;
	width: 370px !important;
	padding-right: 35px;
}

.form input[type=text].referral-error,
.form input[type=tel].referral-error,
.form input[type=email].referral-error {
	background: url(images/payment/payment_form_error.png) right no-repeat;
	border: 1px solid #cc0000;
}

.text-error {
	background: url(images/payment/payment_form_error.png) right no-repeat;
	border: 1px solid #cc0000 !important;
	/*width: 370px !important;*/
	/*padding-right: 35px;*/
}

.form textarea.error {
	background: none;
}

.form input.grey, .form textarea.grey {
	background-color: #F7F9F9;
}

.form textarea {
	height: 80px;
}

.form input.fullname {
	height: 38px;
	font-size: 20px;
	width: 270px;
}

.form input.col50 {
	width: 120px;
}

.form input.col50.error {
	padding-right: 35px;
	width: 90px !important;
}

.form input.col30 {
	width: 70px;
}

.form input.col35 {
	width: 85px;
}

.form input.col20 {
	width: 42px !important;
}

.form input.col15 {
	width: 40px !important;
}

.form input.col30.error {
	padding-right: 35px;
	width: 40px !important;
}

.form .photo {
	background: url(images/payment/payment_photo.png) no-repeat;
	padding-top: 4px;
	width: 85px;
	height: 85px;
}

.common-details .details {
	background: url(images/about/social-line.png) repeat-x scroll 0 50% transparent;
}

.common-details .details span {
	display: block;
	overflow: hidden;
	width: 102px;
	font-size: 10px;
	color: #9DA6A6;
	background-color: #fff;
	text-transform: uppercase;
}

.common-details .details.w120 span {
	width: 120px;
}

.common-details .details.w60 span {
	width: 60px;
}

.common-details .details.w160 span {
	width: 135px;
}

.common-details .bank {
	padding-bottom: 6px;
}

span.account-details-title-custom {
	font-size: 10px;
	color: #9DA6A6;
	text-transform: uppercase;
}

.account-details-custom {
	width: 300px;
}

.account-details-custom .info li div {
	font-size: 13px;
	width: 36%;
	color: #8CA4A5;
}

.account-details-custom .info li .note {
	width: 64%;
	font-size: 14px;
	font-weight: 500;
	float: right;
	color: #344859;
}

.common-details .bank label {
	display: inline;
	text-transform: uppercase;
	font-weight: 600;
	color: #344859;
	font-size: 13px;
	line-height: 13px;
	margin-right: 10px;
}

.form #accountNumber, .form #refundAccountNumber {
	margin-left: 0;
}

.form #IBAN, .form #refundIBAN,
.form #BIC, .form #refundBIC,
.form #accountNumber, .form #refundAccountNumber,
.form  #paymentReference, .form #firstName, .form.panel #firstName,
.form.panel #postCode, .form.panel #city ,.form.panel #lastName,
.form.panel #currentPassword, .form.panel #password, .form.panel #password2 {
	width: 260px;
}

.form.panel #postCode, .form.panel #city {
	width: 120px;
}

.form select.countryCode, .form #newLimitRate, .form .recipientList, .form .profilesList {
	width: 268px !important;
}

.common-details span.info {
	color: #8DA4A6;
	font-size: 12px;
	line-height: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	width: 260px;
}

.common-details span.logged-in {
	color: #8DA4A6;
	font-size: 13px;
	line-height: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.common-details span.info.full {
	width: 100%;
}

.common-details span.info.no-column {
	display: inline;
}
.common-details span.info.checkbox-label {
    display: inline;
    font-size: 14px;
}

.form select {
	display: none;
	width: 100%;
}

.form .select {
	background: url("images/payment/payment_select_bg.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #C7CFDE;
	height: 28px;
	width: 270px;
}

.form .select a {
	display: block;
	position: relative;
	font-size: 13px;
	outline: medium none;
	padding: 6px 0 0 7px;
	text-decoration: none;
}

.form .select.error_select {
	border: 1px solid #cc0202;
}

.form .select a .ui-selectmenu-status {
	display: inline;
	font-size: 12px;
	color: #667D80;
	/*width: 200px;*/
}

.form .select a .ui-icon-triangle-1-s {
	background: url('../images/cur-select-arrow.png') no-repeat scroll 50% 0 transparent;
	height: 20px;
	position: absolute;
	right: 14px;
	top: 4px;
	width: 16px;
}

.form .ui-selectmenu {
	height: 28px;
	overflow: visible;
}

.form .ui-corner-all, .form .ui-corner-top, .form .ui-corner-left, .form .ui-corner-tl {border-radius: 0;}
.form .ui-corner-all, .form .ui-corner-top, .form .ui-corner-right, .form .ui-corner-tr {border-radius: 0;}
.form .ui-corner-all, .form .ui-corner-bottom, .form .ui-corner-left, .form .ui-corner-bl {border-radius: 0;}
.form .ui-corner-all, .form .ui-corner-bottom, .form .ui-corner-right, .form .ui-corner-br {border-radius: 0;}

.form .ui-state-default, .form .ui-widget-content .ui-state-default, .form .ui-widget-header .ui-state-default { border: none; background: none; }

.form .ui-selectmenu-icon {
	margin: 0;
}

.form .ui-selectmenu.ui-widget.ui-state-default.ui-selectmenu-dropdown {
	width: 264px;
	height: 20px;
}

.form .ui-selectmenu.ui-widget.ui-state-default.ui-selectmenu-dropdown.recipientList {
	overflow: hidden;
	white-space: nowrap;
}

.form .ui-widget.ui-widget-content.ui-selectmenu-menu-dropdown.ui-corner-bottom {
	width: 264px !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover, .ui-state-focus,
.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: none;
	background-color: #344859;
	font-weight: normal;
	color: #212121;
}

/*.recipient-selector:hover div.name, .recipient-selector .ui-state-hover,*/
.ui-widget .ui-state-hover .name, .ui-widget .ui-state-hover a,
.ui-widget .ui-state-active .name, .ui-widget .ui-state-active a {
	color: #fff !important;
}

.ui-selectmenu-menu {
	font-size: 12px !important;
}

.ui-selectmenu-menu li a, .ui-selectmenu-status {
	color: #667D80;
	padding: 9px 0 0 6px;
	font-size: 16px;
}

.form .referral-mess_error {
	color: #CC0000;
	font-size: 11px;
	width: 360px;
	margin: 0px auto;
	margin-bottom: -10px;
}

.form .mess_error, .form .mess_error a {
	color: #CC0000;
	font-size: 11px;
	padding-bottom: 5px;
	width: 268px;
}

.form .message_error {
	color: #CC0000;
	font-size: 11px;
	padding-bottom: 5px;
	width: 268px;
}

.form .font {
	font-family: "ff-meta-web-pro", sans-serif;
}

.panel.form {
	background: #fff;
	background: url("images/payment/payment_panel_bg.png") no-repeat;
	background: url("images/payment/payment_panel_bg.png") no-repeat, -moz-linear-gradient(center top, #E4ECEC, #FFFFFF 400px) repeat scroll 0 0 transparent;
	background: url("images/payment/payment_panel_bg.png") no-repeat, -webkit-gradient(linear, 0 0, 0 400, from(#E4ECEC), to(white));
	width: 954px;
}

.panel.form {
	box-shadow: 0 7px 7px 7px rgba(100, 100, 100, 0.3);
}

.form .value-details .title {
	border-bottom: 2px solid #DDE6CE;
}

.panel.form h3 {
	font-size: 22px;
	font-weight: 600;
	line-height: 22px;
	text-transform: none;
}

.form .value-details h3 {
	padding: 15px 0 6px 0;
	color: #667D7F;
}

.form .common-details h3 {
	color: #709D00;
	padding: 15px 0 6px 45px;
}

.common-details .title {
	border-bottom: 1px solid #ccc;
}

.value-details .transfer .wrapper {
	position: relative;
}

.value-details .transfer .wrapper .label {
	float: left;
	padding-top: 6px;
	font-size: 18px;
	font-weight: 500;
	color: #8CA4A5;
}
.value-details #requestAmountDetails.fixed {
	position: fixed;
	top: 0;
	width: 276px;
}
.common-details {
	background: url(images/payment/payment_sep.png) left repeat-y;
	border-radius: 0 7px 0 0;
	width: 648px;
	float: left;
}

.common-details .wider {
	padding: 0 23px !important;
}

.value-details {
	width: 276px;
	margin: 0 15px;
	float: left;
}

.value-details .body {
	border-top: 2px solid #fff;
}

.common-details .body {
	background: #fff url(images/payment/payment_sep.png) left repeat-y;
	padding: 0 43px;
}

.panel.form {
	padding: 0;
}

.common-details .bottom {
	background: #F1F5F5 url(images/payment/payment_sep.png) left repeat-y;
	border-radius: 0 0 7px 0;
	color: #8DA4A6;
	font-size: 13px;
	line-height: 13px;
	padding: 30px 28px 30px 42px;
}

.common-details .bottom a {
	display: inline;
}

.common-details .bottom label {
	padding-top: 15px;
}

.common-details .bottom label a {
	display: inline;
}

.common-details .bottom .button {
	margin-right: 0;
	padding: 8px 18px;
	font-weight: 600;
	font-size: 14px;
}

.common-details .refundAccountBlock .bank-exclamation {
	width: 260px;
	height: 110px;
	padding-top: 32px;
}

.common-details .refundAccountBlock .bank-exclamation .head-text {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
	color: #8CA4A5;
}

.common-details .refundAccountBlock .bank-exclamation .bottom-text {
	font-size: 12px;
	line-height: 14px;
	color: #8CA4A5;
	margin-top: 5px;
}

.common-details .refundAccountBlock .bank-exclamation .bottom-text a {
	font-size: 12px;
	display: block;
	padding-top: 5px;
}

.value-details .transfer .wrapper .sourceValue,
.value-details .transfer .wrapper .targetValue {
	width: 80px;
	height: 38px;
	padding-right: 5px;
	font-size: 18px;
	text-align: right;
	float: left;
}

.value-details .transfer .wrapper .sourceValue.error,
.value-details .transfer .wrapper .targetValue.error {
	width: 190px !important;
	background: none;
}

.mess_error[for="targetValue"],
.mess_error[for="sourceValue"] {
	width: 190px !important;
}


.value-details .transfer .wrapper .currency {
	position: absolute;
	color: #395559;
	right: 10px;
	top: 8px;
	font-size: 18px;
	font-weight: 600;
}

.value-details .transfer .wrapper.disabled,
.value-details .transfer .wrapper.disabled .sourceValue,
.value-details .transfer .wrapper.disabled .targetValue,
.value-details .transfer .wrapper.disabled .currency {
	color: #98A3A5;
	background-color: #f4f7f7;
}


.recipientAccountNameMobile-selector,
.refundAccountNameMobile-selector {
	float: right;
	width: 72px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	float: left;
	background: transparent url('../images/cur-dd-bg.png') 0 0 repeat-x;
}

.value-details .transfer .wrapper .currency-selector {
	width: 71px;
	height: 38px;
	border-top: 1px solid #C7CFDE;
	border-bottom: 1px solid #C7CFDE;
	border-right: 1px solid #C7CFDE;
	float: left;
	background: transparent url('../images/cur-dd-bg.png') 0 0 repeat-x;
	margin-left: -3px;
}

.transfer .wrapper .currency-selector, {
	border-right: 1px solid #C7CFDE;
}

.calc-mobile {
	border-right: 1px solid #C7CFDE;
}


.recipientAccountNameMobile-selector, .refundAccountNameMobile-selector {
	width: 100%;
	height: 38px !important;
	border: 1px solid #C7CFDE !important;
	overflow-x: hidden;
	position: relative;
}

.recipientAccountNameMobile, .refundAccountNameMobile {
	display: block !important;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;
	height: 38px !important;
	border: 0 !important;
	border-radius: 0;
	width: 135% !important;
	padding: 10px 0 10px 5px;
	color: #667D80;
	background: transparent url("../images/cur-select-arrow.png") 71% 10px no-repeat;
}

.value-details .transfer .wrapper .currency-selector select {
	width: 71px;
}
.value-details .currency-selector .ui-selectmenu-dropdown.ui-selectmenu.ui-widget.ui-state-default {
	height: 38px;
}
.value-details .currency-selector .ui-selectmenu-status {
	color: #224559;
	font-weight: 600;
	width: 57px;
}

.value-details .currency-selector .ui-selectmenu-icon {
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: -10px;
	width: 16px;
	height: 20px;
	background: transparent url('../images/cur-select-arrow.png') 50% 0 no-repeat;
}

.cur-input-wrap {
	padding-right: 72px;
}

.indent-select-calc {
	display: block !important;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;
	height: 38px !important;
	border: 0 !important;
	border-radius: 0;
	width: 135% !important;
	padding: 10px 0 10px 5px;
	background: transparent url("../images/cur-select-arrow.png") 50px 8px no-repeat;
}

.indent-select-country-code,
.indent-select-new-limit-rate {
	background: transparent url("../images/cur-select-arrow.png") 245px 4px no-repeat;
	display: block !important;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;
	height: 38px !important;
	border: 0 !important;
	border-radius: 0;
	width: 135% !important;
	padding: 0 0 10px 5px;
}

.phone-calling-code .indent-select-country-code {
	background: transparent url("../images/cur-select-arrow.png") 95px 4px no-repeat;
}

.form .help-link {
	background: transparent url("../images/grey_question_small.png") no-repeat;
	width: 13px !important;
	height: 11px;
	display: inline-block;
	padding: 0 !important;
}

.form .field input[type=text].api {
	width: 260px;
	background-color: #ffffff;
}

input.error[type="tel"].phone-national-number {
	background: url("images/payment/payment_form_error.png") no-repeat scroll right center rgba(0, 0, 0, 0);
	border: 1px solid #CC0000;
}

.form input.error[type="tel"].phone-national-number {
	padding-right: 0;
	width: 120px !important;
}

.left.personal-mobile {
	width: 270px;
}

.form .phone-calling-code, .form .select.phone-calling-code, .form input[type="tel"].phone-national-number {
	width: 120px;
}

.ui-selectmenu-menu li span.country-calling-code, .ui-selectmenu-status span.country-calling-code {
	display: inline;
}

a.ui-selectmenu span.phone-item-content {
	display: none;
}

.form .select.error {
	border: 1px solid #CC0000;
}

