@charset "UTF-8";
.dashboard.dashboard-common .panel {
	border-radius: 0;
	box-shadow: none;
}

.dashboard.dashboard-common .panel.left {
    border-top: 1px solid #DCE0E0;
    width: 100%;
}

.dashboard.dashboard-common .no-payments {
	background: #fff url('images/dashboard/no-payments.png') 50% 50px no-repeat;
}

.dashboard.dashboard-common .panel .title .info {
	position: relative;
	width: 100%;
}

.dashboard .panel .title .info li {
    padding: 0 !important;
    display: block;
}

.dashboard.dashboard-common .panel .title .info .free-payments {
    position: absolute;
    top: -32px;
    right: 0;
}

.dashboard.dashboard-common .panel .title .info li:last-child {
	float: right;
}

.dashboard.dashboard-common .panel .title .info li:before {
	content: "";
    display: block;
    padding-right: 0;
}

.dashboard.dashboard-common .line.big {
	padding-top: 10px;
}

.dashboard.dashboard-common,
.dashboard.dashboard-common .top20 {
	padding-top: 0;
}

.dashboard .list.paymentsList .payment-header {
    font-size: 15px;
    line-height: 16px;
}

.dashboard .list .status-transfer li {
    height: 16px;
    width: 16px;
}

.dashboard .list .status-transfer.deposit li:nth-child(1),
.dashboard .list .status-transfer.match li:nth-child(1),
.dashboard .list .status-transfer.match li:nth-child(2),
.dashboard .list .status-transfer.deliver li:nth-child(1),
.dashboard .list .status-transfer.deliver li:nth-child(2),
.dashboard .list .status-transfer.deliver li:nth-child(3),
.dashboard .list .status-transfer.completed li:nth-child(1),
.dashboard .list .status-transfer.completed li:nth-child(2),
.dashboard .list .status-transfer.completed li:nth-child(3),
.dashboard .list .status-transfer.completed li:nth-child(4) {
    height: 15px;
}


.dashboard .list .payment-header {
    display: none;
}

.dashboard .list .payment-row .status .text {
    display: none;
}

.dashboard .list .payment-row .mobile-wrap {
    float: left;
    width: 45%;
}

.dashboard .list .payment-row .status,
.dashboard .list .payment-row .created,
.dashboard .list .payment-row .recipient,
.dashboard .list .payment-row .amount {
    width: 100%;
}

.dashboard .list .payment-row .amount {
    padding-right: 0;
    text-align: left;
}

.dashboard .list .payment-row .created {
    padding-top: 6px;
}

.dashboard .list .payment-row .status,
.dashboard .list .payment-row .created {
    padding-left: 25px;
}

.dashboard .transfers-footer .left {
    width: 100%;
    text-align: right;
    font-size: 14px;
}

.dashboard .transfers-footer .right {
    padding-top: 10px;
}

.dashboard.dashboard-common .panel .search.wide input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 13px;
    height: 30px;
    width: 100%;
}

.dashboard.dashboard-common .recipients.right,
.dashboard.dashboard-common .calculation-details .results {
    width: 100%;
}

.dashboard.dashboard-common .recipients.bg-none {
    width: 94%;
    padding: 0 3%;
}

.dashboard.dashboard-common .counter-parties-widget,
.dashboard.dashboard-common .invite-title,
.dashboard.dashboard-common .ivite-par,
.dashboard.dashboard-common .recent-recipients {
    display: none;
}

.source.amount-cur-selector,
.target.amount-cur-selector {
    width: 100%;
}

.amount-cur-selector .cur-input-wrap {
	padding-right: 0;
	margin-right: 95px;
	right: 0;
}

.calculation-details .last-row .col-2 .big-number {
    display: none;
}

.indent-select-calc {
    display: block !important;
    -webkit-appearance: listbox !important;
    -moz-appearance: listbox !important;
    height: 38px !important;
    border: 0 !important;
    border-radius: 0;
    width: 135% !important;
    padding: 10px 0 10px 5px;
    background: transparent url("../images/cur-select-arrow.png") 57px 8px no-repeat !important;
}

.source.amount-cur-selector .cur,
.target.amount-cur-selector .cur {
    overflow-x: hidden;
    height: 38px !important;
	left: auto;
}

.amount-cur-selector .cur {
	left: auto;
	right: 0;
}

.amount-cur-selector input.cur-input {
	padding: 0 10px 0 0;
	width: 100%;
}
/*Dashboard Invite Widget*/
.invite-widget {
	margin-bottom: 0 !important;
}

.invite-widget .text-container {
	width: 96%;
	padding: 10px 2%;
}

.invite-widget .link-to-share {
	margin: 10px 10px 15px 25px !important;
}

.invite-widget .invite-more {
	margin: 10px 0 15px 25px !important;
}

.dashboard .list .payment-row:hover .menu {
	display: none !important;
}
.dashboard .list .payment-row:hover {
	width: auto !important;
}


